playbook/playbook-Import_Microsoft_SCCM_devices_to_PANW_IoT_cloud.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Fetch client device from Microsoft SCCM SQL Server and send it to PANW
  IoT Platform.
id: bd771e80-69fb-47b9-87e5-917f91b5c07d
inputs: []
name: Import Microsoft SCCM devices to PANW IoT cloud
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5bdb6d46-4bfb-47f9-871c-db57165cd7e5
      iscommand: false
      name: ""
      version: -1
    taskid: 5bdb6d46-4bfb-47f9-871c-db57165cd7e5
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 705,
          "y": -40
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      microsoft_sccm_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: PANW IoT 3rd Party Integration - Microsoft SCCM
      id: d3185af2-8f61-493a-8523-91ef16c43e5c
      iscommand: false
      name: Send Microsoft SCCM clients/devices to PANW IoT
      script: d4259325-0b09-4e73-8101-cc5df499fa8f
      type: regular
      version: -1
    taskid: d3185af2-8f61-493a-8523-91ef16c43e5c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1710,
          "y": 720
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: f16bb222-413f-42fc-8eb9-598177d0e6f5
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f16bb222-413f-42fc-8eb9-598177d0e6f5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1710,
          "y": 1055
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: sccm
      message:
        simple: Microsoft SCCM integration is not enabled
      playbook_name:
        simple: Import Microsoft SCCM devices to PANW IoT cloud
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 7066ef70-8207-4cfe-8435-fd3aff96144b
      iscommand: true
      name: Send disabled status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 7066ef70-8207-4cfe-8435-fd3aff96144b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -50,
          "y": 590
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: sccm
      message:
        simple: Invalid/No integration instance name provided
      playbook_name:
        simple: Import Microsoft SCCM devices to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 9ae14c64-09e2-48ac-82eb-d1df62408e7d
      iscommand: true
      name: Send error status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 9ae14c64-09e2-48ac-82eb-d1df62408e7d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 400,
          "y": 590
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 96a2c91c-5c37-40ed-8e62-0581ce02d2b4
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 96a2c91c-5c37-40ed-8e62-0581ce02d2b4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 165,
          "y": 815
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "no":
      - "8"
      "yes":
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      integration_instance_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: PANW IoT 3rd Party Integration - Microsoft SCCM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 400ee69e-0721-4f10-8730-fb006ab35120
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 400ee69e-0721-4f10-8730-fb006ab35120
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 545
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: sccm
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Import Microsoft SCCM devices to PANW IoT cloud
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 3102d03e-655c-4363-844e-fd55550738de
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 3102d03e-655c-4363-844e-fd55550738de
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 720
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: sccm
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Import Microsoft SCCM devices to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e9930d50-0f00-4363-8cb4-0450813f3a81
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e9930d50-0f00-4363-8cb4-0450813f3a81
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 720
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 43dacd9d-6a2e-4b64-8f12-d9f4d6492b4f
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 43dacd9d-6a2e-4b64-8f12-d9f4d6492b4f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 930
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "no":
      - "4"
      "yes":
      - "7"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Microsoft SCCM
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: 1c9d66da-2caf-41ba-88fd-b16a1d283664
      iscommand: false
      name: Is Microsoft SCCM integration enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: 1c9d66da-2caf-41ba-88fd-b16a1d283664
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 705,
          "y": 410
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "5"
      "yes":
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 5ecf6eb4-855e-4999-87cd-5d27ac866ca9
      iscommand: false
      name: Is Microsoft SCCM Integration Instance available in Job?
      script: Exists
      type: condition
      version: -1
    taskid: 5ecf6eb4-855e-4999-87cd-5d27ac866ca9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 705,
          "y": 145
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "11_7_yes": 0.87,
      "7_2_yes": 0.42
    },
    "paper": {
      "dimensions": {
        "height": 1190,
        "width": 2140,
        "x": -50,
        "y": -40
      }
    }
  }
