playbook/playbook-Un-quarantine_Device_in_Cisco_ISE_-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 1.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Handles incidents triggered from PANW Iot (Zingbox) UI to un-quarantine
  a device in Cisco ISE.
id: Un-quarantine Device in Cisco ISE - PANW IoT 3rd Party Integration
inputs: []
name: Un-quarantine Device in Cisco ISE - PANW IoT 3rd Party Integration
outputs:
- contextPath: incident
  description: This playbook is invoked via the incident type "PANW IoT 3rd Party
    Cisco ISE Un-quarantine"
  type: unknown
sourceplaybookid: Un-quarantine Device in Cisco ISE - PANW IoT 3rd Party Integration
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 63617174-4a82-40e3-82e3-4b77b4d8e1f0
      iscommand: false
      name: ""
      version: -1
    taskid: 63617174-4a82-40e3-82e3-4b77b4d8e1f0
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "no":
      - "3"
      "yes":
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      brand_name:
        simple: PANW IoT 3rd Party Integration - Cisco ISE pxGrid
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b14b3190-864e-4a4d-8890-fa18ab93f5a3
      iscommand: false
      name: Check Cisco ISE instances. Are any available?
      script: 292ae09c-ada1-4d3c-840a-add10bfefa5a
      type: condition
      version: -1
    taskid: b14b3190-864e-4a4d-8890-fa18ab93f5a3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: No Cisco ISE instances available
      playbook_name:
        simple: Un-quarantine Device in Cisco ISE - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IoT cloud.
      id: 7114bf8a-5779-4f16-8196-567c05b451ae
      iscommand: true
      name: Send error status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 7114bf8a-5779-4f16-8196-567c05b451ae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: UnQuarantine
      alert_severity:
        simple: '""'
      alert_type:
        simple: '""'
      integration:
        simple: ise
      mac_address:
        simple: ${incident.macAddress}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5690040-b9dd-4b54-8cd1-36e28e7adc0b
      iscommand: false
      name: Un-Quarantine Endpoint
      script: QuarantinePANWIoTDevice
      type: regular
      version: -1
    taskid: b5690040-b9dd-4b54-8cd1-36e28e7adc0b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 370
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "12"
      "yes":
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If an array is provided, will return yes
        if one of the entries returned an error.
      id: 181bcd36-4010-4abb-8e76-52fe07f698a0
      iscommand: false
      name: Was there an error?
      script: isError
      type: condition
      version: -1
    taskid: 181bcd36-4010-4abb-8e76-52fe07f698a0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 545
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: Failed to unquarantine Endpoint ${Endpoint.MACAddress} on Cisco ISE
      playbook_name:
        simple: Un-quarantine Device in Cisco ISE - PANW IoT 3rd Party Integration_
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 8ed8914c-bcac-4c3c-849a-cd343e7dcef5
      iscommand: true
      name: Send error status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 8ed8914c-bcac-4c3c-849a-cd343e7dcef5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: Un-Quarantine Successful for Endpoint ${Endpoint.MACAddress}
      playbook_name:
        simple: Un-quarantine Device in Cisco ISE - PANW IoT 3rd Party Integration_
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: d48ae78e-1d04-4850-83fd-c050dff2f929
      iscommand: true
      name: Send success status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: d48ae78e-1d04-4850-83fd-c050dff2f929
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 720
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the current incident.
      id: 3f0d2bfe-e94d-48fa-835b-0637808d16de
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 3f0d2bfe-e94d-48fa-835b-0637808d16de
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 895
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_11_#default#": 0.51
    },
    "paper": {
      "dimensions": {
        "height": 940,
        "width": 1240,
        "x": 50,
        "y": 50
      }
    }
  }
