playbook/playbook-Bulk_Export_to_Cisco_ISE_pxGrid_-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 6.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook gets all available device inventory from PANW IoT Cloud
  and updates/create endpoints with custom attributes on Cisco ISE.
id: f58c15fc-f45b-46b3-8fbc-c4a020810d96
inputs: []
name: Bulk Export to Cisco ISE pxGrid - PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: 9d2c6af3-5dc9-4101-8f34-be3359e9a8ca
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d2b1a9ab-f6f8-4816-82b5-59e3b839a1d7
      iscommand: false
      name: ""
      version: -1
    taskid: d2b1a9ab-f6f8-4816-82b5-59e3b839a1d7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 480,
          "y": -260
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      custom_attributes:
        simple: ${incident.panwiotdevicecustomattributes}
      days:
        simple: ${incident.bulkexportinterval}
      integration_instance:
        simple: ${incident.integrationinstancename}
      sites:
        simple: ${incident.sitenames}
      tags:
        simple: ${incident.panwiotinscopetagenforcement}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets all available devices from the IoT cloud and updates or creates
        them if necessary. new endpoint with custom attributes on Cisco ISE.
      id: 59018a1c-80af-473c-8cdf-3e89cd447b9a
      iscommand: false
      name: Get PANW IoT devices and send to Cisco ISE pxGrid
      script: 0a2f891b-5731-450f-8dc8-0b64e25ee8ec
      type: regular
      version: -1
    taskid: 59018a1c-80af-473c-8cdf-3e89cd447b9a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 595
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "3"
      "yes":
      - "5"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Cisco ISE pxGrid
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: 611adcb3-2bc8-432c-8a86-88b3ce26577d
      iscommand: false
      name: Is Cisco ISE pxGrid Integration instance enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: 611adcb3-2bc8-432c-8a86-88b3ce26577d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 135
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: pxgrid
      message:
        simple: pxGrid integration is not enabled
      playbook_name:
        simple: Increment Export to Cisco ISE pxGrid - PANW IoT 3rd Party Integration
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 03d30fc8-0a43-4562-8aca-ce3c24bb549f
      iscommand: true
      name: Report disabled status to PANW IoT cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 03d30fc8-0a43-4562-8aca-ce3c24bb549f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 595
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: bc2d1449-9a35-4cf4-876b-21d1b278f150
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: bc2d1449-9a35-4cf4-876b-21d1b278f150
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 690,
          "y": 820
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "no":
      - "7"
      "yes":
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - Cisco ISE pxGrid
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 63d83e08-c183-4bae-878b-8015b3c0e230
      iscommand: false
      name: is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 63d83e08-c183-4bae-878b-8015b3c0e230
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 860,
          "y": 330
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: pxgrid
      message:
        simple: Failed to get License
      playbook_name:
        simple: Bulk Export to Cisco ISE pxGrid - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 4347028d-a05a-47bd-889c-2e3654795bb4
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 4347028d-a05a-47bd-889c-2e3654795bb4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 595
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: pxgrid
      message:
        simple: Failed to get License
      playbook_name:
        simple: Bulk Export to Cisco ISE pxGrid - PANW IoT 3rd Party Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 326870a1-55ae-458f-8aec-81c6bd1eed6e
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 326870a1-55ae-458f-8aec-81c6bd1eed6e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 595
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "9"
      "yes":
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 14f85967-f330-403d-8280-8e83fdf9d4f9
      iscommand: false
      name: Is Cisco ISE pxGrid Integration Instance Configured?
      script: Exists
      type: condition
      version: -1
    taskid: 14f85967-f330-403d-8280-8e83fdf9d4f9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": -80
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: pxgrid
      message:
        simple: No Cisco ISE integration instance passed to Job
      playbook_name:
        simple: Bulk Export to Cisco ISE pxGrid - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message to PANW IOT cloud.
      id: 3fb45e45-6e1d-405e-882a-81825a5af0b3
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 3fb45e45-6e1d-405e-882a-81825a5af0b3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 590
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1175,
        "width": 2100,
        "x": 50,
        "y": -260
      }
    }
  }
