playbook/playbook-Import_Rockwell_AssetCentre_assets_to_PANW_IoT_cloud.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 6.0.1
    packID: ""
    packName: Palo Alto Networks IoT 3rd Party Integrations
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Fetch data from Rockwell AssetCentre and send it to PANW IoT Platform
id: Import Rockwell AssetCentre assets to PANW IoT cloud
inputs: []
name: Import Rockwell AssetCentre assets to PANW IoT cloud
outputs: []
sourceplaybookid: Import Aruba WLC devices to PANW IoT cloud
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9300f83f-f0fb-4676-84cd-8a879c7b8993
      iscommand: false
      name: ""
      version: -1
    taskid: 9300f83f-f0fb-4676-84cd-8a879c7b8993
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 920,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "no":
      - "2"
      "yes":
      - "19"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Rockwell AssetCentre
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: 91687470-c501-4012-8b0b-aa1a49cfc249
      iscommand: false
      name: Is Rockwell AssetCentre integration enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: 91687470-c501-4012-8b0b-aa1a49cfc249
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 370
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rockwell
      message:
        simple: Rockwell AssetCentre integration is not enabled
      playbook_name:
        simple: Import Rockwell AssetCentre assets to PANW IoT cloud
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 99aa4f3f-acd9-4997-82f0-6ae6a76205f7
      iscommand: true
      name: Send disabled status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 99aa4f3f-acd9-4997-82f0-6ae6a76205f7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1590,
          "y": 595
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      active_rockwell_assetcentre_instance:
        simple: ${incident.integrationinstancename}
      get_all_assets:
        simple: ${incident.importrockwellassetcentreallassetstoiotsecurity}
      get_asset_type_table:
        simple: ${incident.rockwellassetcentreassettypeuuids}
      get_attribute_table:
        simple: ${incident.rockwellassetcentreassetpropertyuuids}
      limit:
        simple: "1000"
      playbook_poll_interval:
        simple: ${incident.playbookpollinterval}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87e0043b-80b6-4f57-8e44-4902a6dfab5c
      iscommand: false
      name: Send Rockwell AssetCentre assets to PANW IoT
      script: SendRockwellAssetCentreAssetsToPANWIoT
      type: regular
      version: -1
    taskid: 87e0043b-80b6-4f57-8e44-4902a6dfab5c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 400,
          "y": 790
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rockwell
      message:
        simple: Invalid integration instance name provided
      playbook_name:
        simple: Import Rockwell AssetCentre assets to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 94d7db5a-0ff5-48c7-8504-012db085cd4e
      iscommand: true
      name: Send error status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 94d7db5a-0ff5-48c7-8504-012db085cd4e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2000,
          "y": 595
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "no":
      - "21"
      "yes":
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration_instance_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: Rockwell AssetCentre
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4e0a29c9-b72e-46b5-8e8a-a82cc9543d9e
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 4e0a29c9-b72e-46b5-8e8a-a82cc9543d9e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 540
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rockwell
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Import Rockwell AssetCentre assets to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 3f015fb4-4857-44fb-88fc-3f1db9b83d02
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 3f015fb4-4857-44fb-88fc-3f1db9b83d02
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1325,
          "y": 790
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rockwell
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Import Rockwell AssetCentre assets to PANW IoT cloud
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 1e4c6ee8-8ece-43b2-8c6d-9564d1876b82
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 1e4c6ee8-8ece-43b2-8c6d-9564d1876b82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 790
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: a1db59d7-310a-4e5e-8572-dbc989ce37c6
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: a1db59d7-310a-4e5e-8572-dbc989ce37c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1025
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 92b5f091-5dd7-45c8-866e-d6ec08db5a3a
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 92b5f091-5dd7-45c8-866e-d6ec08db5a3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1830,
          "y": 800
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: ${incident.integrationinstancename}
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 3bf1373d-4460-4f60-81e7-d87395cb55e6
      iscommand: false
      name: Is Rockwell AssetCentre Integration Instance Available
      script: Exists
      type: condition
      version: -1
    taskid: 3bf1373d-4460-4f60-81e7-d87395cb55e6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 195
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: rockwell
      message:
        simple: No Rockwell AssetCentre Integration instance passed
      playbook_name:
        simple: Import Rockwell AssetCentre assets to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 0b5e30ff-0237-441b-829f-75faadba7975
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 0b5e30ff-0237-441b-829f-75faadba7975
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 150,
          "y": 530
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_18_#default#": 0.66,
      "1_2_no": 0.65
    },
    "paper": {
      "dimensions": {
        "height": 1070,
        "width": 2230,
        "x": 150,
        "y": 50
      }
    }
  }
