playbook/playbook-Bulk_Export_to_Cisco_ISE_-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 6.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: b4f5d574-3c0d-44d7-8a99-6f691fb1fd78
inputs: []
name: Bulk Export to Cisco ISE - PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: 7f908ed7-e7f3-4399-879f-cfcb6d9934a8
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 414e0ddd-c223-4edc-8fd0-c41a487847fa
      iscommand: false
      name: ""
      version: -1
    taskid: 414e0ddd-c223-4edc-8fd0-c41a487847fa
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 890,
          "y": -1340
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "10"
      "yes":
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      primary_instances:
        simple: ${incident.primaryinstancenames}
      secondary_instances:
        simple: ${incident.secondaryinstancenames}
      single_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4590712b-f0a4-49ee-8711-a623958ff23f
      iscommand: false
      name: Are instances available?
      script: e6c4b775-d4eb-443e-876e-4526ff22aa95
      type: condition
      version: -1
    taskid: 4590712b-f0a4-49ee-8711-a623958ff23f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": -1160
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      active_instance:
        simple: ${incident.primaryactiveinstancename}
      role:
        simple: Primary
      standby_instance:
        simple: ${incident.primarystandbyinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines which configured Cisco ISE instance is in active/primary
        state. state and returns the name of this instance.
      id: 2928126b-ccda-4ccd-84f5-055f6298c6bd
      iscommand: false
      name: Get Primary Active Instance
      script: GetCiscoISEActiveInstance_
      type: regular
      version: -1
    taskid: 2928126b-ccda-4ccd-84f5-055f6298c6bd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": -250
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      active_instance:
        simple: ${incident.secondaryactiveinstancename}
      role:
        simple: Secondary
      standby_instance:
        simple: ${incident.secondarystandbyinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines which configured Cisco ISE instance is in active/primary
        state. state and returns the name of this instance.
      id: 300cc46f-4cef-4041-8c50-bf3f57e14a84
      iscommand: false
      name: Get Secondary Active Instance
      script: GetCiscoISEActiveInstance_
      type: regular
      version: -1
    taskid: 300cc46f-4cef-4041-8c50-bf3f57e14a84
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": -250
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "21"
      "yes":
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.secondaryactiveinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 447ba49d-8ff8-4bc5-8470-bfb090be7d46
      iscommand: false
      name: Is Secondary Active Available?
      script: Exists
      type: condition
      version: -1
    taskid: 447ba49d-8ff8-4bc5-8470-bfb090be7d46
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": 50
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "21"
      "yes":
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.primaryactiveinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 221503b5-2ae2-42a5-86c7-a94d69d32a3c
      iscommand: false
      name: Is Primary Active Available?
      script: Exists
      type: condition
      version: -1
    taskid: 221503b5-2ae2-42a5-86c7-a94d69d32a3c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1570,
          "y": 40
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: 'No Cisco ISE instance available. '
      playbook_name:
        simple: Bulk Export to Cisco ISE - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 95618c09-9a8d-4e44-8a7b-c573918c5547
      iscommand: true
      name: Report Error Status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 95618c09-9a8d-4e44-8a7b-c573918c5547
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": -960
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      active_ise:
        simple: ${incident.primaryactiveinstancename}
      custom_attributes:
        simple: ${incident.panwiotdevicecustomattributes}
      execution-timeout:
        simple: "864000"
      sites:
        simple: ${incident.sitenames}
      standby_ise:
        simple: ${incident.primarystandbyinstancename}
      tags:
        simple: ${incident.panwiotinscopetagenforcement}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets all available devices from the IoT cloud and updates or creates
        them on Cisco ISE using the custom attributes.
      id: d9a6623f-6d85-4e08-86c9-585761342324
      iscommand: false
      name: Send Devices to Primary Cisco ISE
      script: 8d85b23a-9bcf-4d10-8bfe-aaa4da84aed8
      type: regular
      version: -1
    taskid: d9a6623f-6d85-4e08-86c9-585761342324
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1580,
          "y": 275
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      active_ise:
        simple: ${incident.secondaryactiveinstancename}
      custom_attributes:
        simple: ${incident.panwiotdevicecustomattributes}
      execution-timeout:
        simple: "864000"
      sites:
        simple: ${incident.sitenames}
      standby_ise:
        simple: ${incident.secondarystandbyinstancename}
      tags:
        simple: ${incident.panwiotinscopetagenforcement}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets all available devices from the IoT cloud and updates or creates
        them on Cisco ISE using the custom attributes.
      id: 7a59842a-8a92-4b1e-8a2d-24edc48ed6f2
      iscommand: false
      name: Send Devices to Secondary Cisco ISE
      script: 8d85b23a-9bcf-4d10-8bfe-aaa4da84aed8
      type: regular
      version: -1
    taskid: 7a59842a-8a92-4b1e-8a2d-24edc48ed6f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 275
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "19"
      "yes":
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 16a1593f-d11c-4cb2-8931-f8c95d05d373
      iscommand: false
      name: Was there an error while exporting devices?
      script: isError
      type: condition
      version: -1
    taskid: 16a1593f-d11c-4cb2-8931-f8c95d05d373
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": 540
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 7ccf481b-d063-4e04-862a-5b3f0392c3e4
      iscommand: false
      name: Was there an error while exporting devices?
      script: isError
      type: condition
      version: -1
    taskid: 7ccf481b-d063-4e04-862a-5b3f0392c3e4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1580,
          "y": 540
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.primaryactiveinstancename}
      integration_name:
        simple: ise
      message:
        simple: Failed to export PANW IoT devices to Cisco ISE
      playbook_name:
        simple: Bulk Export to Cisco ISE - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 690e7dd3-f99e-46fb-8849-e6d602b3fc94
      iscommand: true
      name: Report Error Status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 690e7dd3-f99e-46fb-8849-e6d602b3fc94
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 800
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.primaryactiveinstancename}
      integration_name:
        simple: ise
      message:
        simple: Successfully exported devices to Cisco ISE
      playbook_name:
        simple: Bulk Export to Cisco ISE - PANW IoT 3rd Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: f3e2c693-0201-4c30-81ed-b88495a9a192
      iscommand: true
      name: Send Success Status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: f3e2c693-0201-4c30-81ed-b88495a9a192
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1580,
          "y": 800
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 31c2bde3-6ebc-4574-8180-090d62196714
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 31c2bde3-6ebc-4574-8180-090d62196714
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1150
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 2a0c8ecc-5a6f-4453-875c-085129e4e9b2
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 2a0c8ecc-5a6f-4453-875c-085129e4e9b2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": -770
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.secondaryactiveinstancename}
      integration_name:
        simple: ise
      message:
        simple: Successfully exported devices to Cisco ISE
      playbook_name:
        simple: Bulk Export to Cisco ISE - PANW IoT 3rd Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e39db78c-ae51-4eff-82f3-8bbca892abd8
      iscommand: true
      name: Send Success Status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e39db78c-ae51-4eff-82f3-8bbca892abd8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 800
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.secondaryactiveinstancename}
      integration_name:
        simple: ise
      message:
        simple: Failed to export PANW IoT devices to Cisco ISE
      playbook_name:
        simple: Bulk Export to Cisco ISE - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 126129d5-a69a-460c-8fc5-904455523ac5
      iscommand: true
      name: Report Error Status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 126129d5-a69a-460c-8fc5-904455523ac5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 800
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.secondaryactiveinstancename
          operator: isEmpty
      - - left:
            iscontext: true
            value:
              simple: incident.primaryactiveinstancename
          operator: isEmpty
      label: "YES"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "YES":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      id: fabd8e3f-7ea9-4333-8aa4-80fdc38731da
      iscommand: false
      name: Are Both Primary and Secondary Not Available?
      type: condition
      version: -1
    taskid: fabd8e3f-7ea9-4333-8aa4-80fdc38731da
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": 255
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: fcb4b2cd-3abe-4830-88f1-d928f2536460
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: fcb4b2cd-3abe-4830-88f1-d928f2536460
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 465
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: At Least One is Available
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Prints text to war room (Markdown supported)
      id: cf456316-5f23-4b96-8433-011364d2eb7f
      iscommand: false
      name: At Least One is Available
      script: Print
      type: regular
      version: -1
    taskid: cf456316-5f23-4b96-8433-011364d2eb7f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 465
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "no":
      - "26"
      "yes":
      - "6"
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      integration_instance_name:
        simple: ${incident.integrationinstancename},${incident.primaryactiveinstancename},${incident.primarystandbyinstancename},${incident.secondaryactiveinstancename},${incident.secondarystandbyinstancename}
      integration_name:
        simple: PANW IoT 3rd Party Integration - Cisco ISE pxGrid
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 172ba9ed-936d-401f-80c6-d0543b35c101
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 172ba9ed-936d-401f-80c6-d0543b35c101
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": -830
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: Cisco ISE is disabled
      playbook_name:
        simple: Bulk Export to Cisco ISE - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: a5b6f37f-40b3-4c05-8808-38782166dfd0
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: a5b6f37f-40b3-4c05-8808-38782166dfd0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1410,
          "y": -640
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: Cisco ISE is disabled
      playbook_name:
        simple: Bulk Export to Cisco ISE - PANW IoT 3rd Party Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e3a47211-3c53-4eaf-8037-e91c840539ed
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e3a47211-3c53-4eaf-8037-e91c840539ed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1820,
          "y": -640
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 4f87b962-6940-4d08-8506-46974129fdf4
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 4f87b962-6940-4d08-8506-46974129fdf4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1620,
          "y": -470
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "21_22_YES": 0.79,
      "21_23_#default#": 0.74,
      "24_5_yes": 0.57,
      "24_6_yes": 0.54,
      "4_10_no": 0.5,
      "7_21_no": 0.44,
      "8_21_no": 0.52
    },
    "paper": {
      "dimensions": {
        "height": 2585,
        "width": 1990,
        "x": 210,
        "y": -1340
      }
    }
  }
