playbook/playbook-Import_Aruba_WLC_devices_to_PANW_IoT_cloud.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 6.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Fetch data from Aruba WLAN Controller and send it to PANW IoT Platform
id: 15408441-f380-4125-8442-aeaedf7118ce
inputs: []
name: Import Aruba WLC devices to PANW IoT cloud
outputs: []
sourceplaybookid: Import Aruba WLC devices to PANW IoT cloud
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 38fc838a-54fc-43e7-89c2-bacaf86982d0
      iscommand: false
      name: ""
      version: -1
    taskid: 38fc838a-54fc-43e7-89c2-bacaf86982d0
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 695,
          "y": -760
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "no":
      - "2"
      "yes":
      - "19"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Aruba WLAN Controller
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: 3eccea80-409d-4991-8d6a-a94bf5c4311f
      iscommand: false
      name: Is Aruba WLC integration enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: 3eccea80-409d-4991-8d6a-a94bf5c4311f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": -400
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: aruba_wlc
      message:
        simple: Aruba WLAN Controller integration is not enabled
      playbook_name:
        simple: Import Aruba WLC devices to PANW IoT cloud
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 7f0a5f7f-896f-455c-8c7d-5606adbee4cd
      iscommand: true
      name: Send disabled status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 7f0a5f7f-896f-455c-8c7d-5606adbee4cd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1230,
          "y": -250
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: e32ed505-0e87-4126-8e4f-39d2d9b2a3c5
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: e32ed505-0e87-4126-8e4f-39d2d9b2a3c5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 710,
          "y": 470
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      aruba_wlc_instance:
        simple: ${incident.integrationinstancename}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 728e7ca1-3b58-4aa8-8454-ae2422cddfdd
      iscommand: false
      name: Send Aruba WiFi clients to PANW IoT
      script: f97053f9-65c2-4ed0-842a-feccacea18a9
      type: regular
      version: -1
    taskid: 728e7ca1-3b58-4aa8-8454-ae2422cddfdd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 500,
          "y": 200
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      aruba_wlc_instance:
        simple: ${incident.integrationinstancename}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 32da5706-656a-4b24-8f2a-df09323769b2
      iscommand: false
      name: Send Aruba Bluetooth clients to PANW IoT
      script: 63e5da9b-9f57-463e-8ba2-c4578185b6cb
      type: regular
      version: -1
    taskid: 32da5706-656a-4b24-8f2a-df09323769b2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 200
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: aruba_wlc
      message:
        simple: Invalid integration instance name provided
      playbook_name:
        simple: Import Aruba WLC devices to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: da0bcee3-dcad-4419-80d1-405edfc93137
      iscommand: true
      name: Send error status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: da0bcee3-dcad-4419-80d1-405edfc93137
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1630,
          "y": -250
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "no":
      - "21"
      "yes":
      - "16"
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      integration_instance_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: PANW IoT 3rd Party Integration - Aruba WLAN Controller
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e2e2841b-76f0-42e3-80cf-bbb455d916c2
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: e2e2841b-76f0-42e3-80cf-bbb455d916c2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": -200
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: aruba_wlc
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Import Aruba WLC devices to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 07c5dca3-c60c-4601-80ce-122352607953
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 07c5dca3-c60c-4601-80ce-122352607953
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -120,
          "y": -80
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: aruba_wlc
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Import Aruba WLC devices to PANW IoT cloud
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 9d9a4983-221e-403e-8b47-d8cddff07c22
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 9d9a4983-221e-403e-8b47-d8cddff07c22
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 310,
          "y": -70
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: d13daba7-6578-406a-8ef0-548d5dcacf8c
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: d13daba7-6578-406a-8ef0-548d5dcacf8c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 200
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 2ef9e7dd-1509-4bbf-88a5-3f3dd3da3696
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 2ef9e7dd-1509-4bbf-88a5-3f3dd3da3696
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1430,
          "y": -80
        }
      }
  "24":
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: ${incident.integrationinstancename}
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 12b526c7-9dd7-4d96-867a-4392e9e80875
      iscommand: false
      name: Is Aruba WLC Integration Instance Available
      script: Exists
      type: condition
      version: -1
    taskid: 12b526c7-9dd7-4d96-867a-4392e9e80875
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": -640
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: aruba_wlc
      message:
        simple: No Aruba WLC Integration instance passed
      playbook_name:
        simple: Import Aruba WLC devices to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 2f7b68a4-618d-481b-8669-55642e63c11f
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 2f7b68a4-618d-481b-8669-55642e63c11f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": -400
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      aruba_wlc_instance:
        simple: ${incident.integrationinstancename}
      device_type:
        simple: switch
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 099d458d-95ac-4f19-8276-4c89aaf040f5
      iscommand: false
      name: Send Aruba WLC Switches to PanW IoT
      script: 63e5da9b-9f57-463e-8ba2-c4578185b6cb
      type: regular
      version: -1
    taskid: 099d458d-95ac-4f19-8276-4c89aaf040f5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 550,
          "y": 130
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      aruba_wlc_instance:
        simple: ${incident.integrationinstancename}
      device_type:
        simple: AP
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a51527d3-e6be-4086-890c-43c85513f8b8
      iscommand: false
      name: Send Aruba WLC Access Points to PanW IoT
      script: 63e5da9b-9f57-463e-8ba2-c4578185b6cb
      type: regular
      version: -1
    taskid: a51527d3-e6be-4086-890c-43c85513f8b8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 550,
          "y": 510
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      aruba_wlc_instance:
        simple: ${incident.integrationinstancename}
      device_type:
        simple: IAP
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d3fe2c3b-d720-4fb8-8277-4d3b0438def0
      iscommand: false
      name: Send Aruba WLC IAPs to PanW IoT
      script: 63e5da9b-9f57-463e-8ba2-c4578185b6cb
      type: regular
      version: -1
    taskid: d3fe2c3b-d720-4fb8-8277-4d3b0438def0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 550,
          "y": 305
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_18_#default#": 0.66,
      "1_2_no": 0.65
    },
    "paper": {
      "dimensions": {
        "height": 1705,
        "width": 2130,
        "x": -120,
        "y": -760
      }
    }
  }
