playbook/playbook-Export_AIMS_assignee_and_priority_lists_to_PANW_IoT.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Export assignee list and work order priority list from AIMS to PANW IoT
  cloud
id: Export AIMS assignee and priority lists to PANW IoT
inputs: []
name: Export AIMS assignee and priority lists to PANW IoT
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7479f498-dddc-40ff-82a4-c56e8425c29f
      iscommand: false
      name: ""
      version: -1
    taskid: 7479f498-dddc-40ff-82a4-c56e8425c29f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 70
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get a list of all employees in the AIMS server
      id: d479d391-4ef3-408a-8e30-007acd55fd8e
      iscommand: true
      name: Get employee list
      script: '|||aims-get-employee-list'
      type: regular
      version: -1
    taskid: d479d391-4ef3-408a-8e30-007acd55fd8e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 380
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: alert
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: aims
      message:
        simple: AIMS instance is not enabled
      playbook_name:
        simple: Export AIMS assignee and priority lists to PANW IoT
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message to PANW IOT cloud.
      id: bd189f31-5bdd-4c85-8147-edba66a5dce9
      iscommand: true
      name: Send disabled status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: bd189f31-5bdd-4c85-8147-edba66a5dce9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 130,
          "y": 720
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 90214a35-c0ef-4f27-8195-faa035daeefd
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 90214a35-c0ef-4f27-8195-faa035daeefd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1245
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: alert
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: aims
      message:
        simple: Error while getting data from AIMS
      playbook_name:
        simple: Export AIMS assignee and priority lists to PANW IoT
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message to PANW IOT cloud.
      id: 22e53d92-e7d6-427b-8740-ae0e46efdbd5
      iscommand: true
      name: Send error status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 22e53d92-e7d6-427b-8740-ae0e46efdbd5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1060
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: alert
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: aims
      message:
        simple: Successfully received data from AIMS
      playbook_name:
        simple: Export AIMS assignee and priority lists to PANW IoT
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 1c791db7-8f46-4db7-8bd2-490b19bb5ce0
      iscommand: true
      name: Send success status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 1c791db7-8f46-4db7-8bd2-490b19bb5ce0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1060
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the priority list for work orders in AIMS
      id: 9a16ce9a-ad22-4981-8e46-a3c56bcf02e9
      iscommand: true
      name: Get work order priority list
      script: '|||aims-get-work-order-priority-list'
      type: regular
      version: -1
    taskid: 9a16ce9a-ad22-4981-8e46-a3c56bcf02e9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 380
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "22"
      "yes":
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: c8f52ace-0649-4bb6-8d03-c7505152021b
      iscommand: false
      name: Was there an error getting data from AIMS?
      script: isError
      type: condition
      version: -1
    taskid: c8f52ace-0649-4bb6-8d03-c7505152021b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 690,
          "y": 550
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      IntegrationName:
        simple: aims
      MetaData:
        simple: '{"EmployeeList": ${CommandOutput.EmployeeList}, "WorkOrderPriorityList":
          ${CommandOutput.WorkOrderPriorityList}}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send AIMS maps and list data to PANW IOT cloud
      id: 0c8789e2-650b-406f-8f3b-758c3a728b10
      iscommand: true
      name: Send assignee and priority lists to PANW IoT
      script: '|||panw-iot-3rd-party-report-metadata'
      type: regular
      version: -1
    taskid: 0c8789e2-650b-406f-8f3b-758c3a728b10
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 720
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "11"
      "yes":
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: d5a99ac2-69d1-4c31-8381-cf0ef16541c2
      iscommand: false
      name: Was there an error sending data to PANW IoT?
      script: isError
      type: condition
      version: -1
    taskid: d5a99ac2-69d1-4c31-8381-cf0ef16541c2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 890
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "8"
      "yes":
      - "3"
      - "13"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - AIMS
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: 21bdb61b-b9e9-493c-82a8-a230cc0c1871
      iscommand: false
      name: Is AIMS Integration enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: 21bdb61b-b9e9-493c-82a8-a230cc0c1871
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 205
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "21_10_yes": 0.3,
      "21_22_no": 0.54,
      "23_10_yes": 0.31,
      "24_13_yes": 0.48,
      "24_3_yes": 0.72
    },
    "paper": {
      "dimensions": {
        "height": 1270,
        "width": 1240,
        "x": 130,
        "y": 70
      }
    }
  }
