playbook/playbook-Incremental_Export_of__Splunk_Device_Attributes_-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 2.0.4
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 961dcead-dfd0-4320-8765-acc7f62d621e
inputs: []
name: Incremental Export of  Splunk Device Attributes - PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: af2c1125-ca1e-4f4d-8a8b-aea23b5f044a
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 884850c1-ba93-4c4a-8456-3438a9f3a8d9
      iscommand: false
      name: ""
      version: -1
    taskid: 884850c1-ba93-4c4a-8456-3438a9f3a8d9
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 490,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "20"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Splunk
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: cad02ff2-c569-4fc4-8e40-07f8f7da04e1
      iscommand: false
      name: Is Splunk integration enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: cad02ff2-c569-4fc4-8e40-07f8f7da04e1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 370
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: splunk
      message:
        simple: Splunk Instance is not available
      playbook_name:
        simple: Incremental Export from Splunk Device Attributes - PANW IoT 3rd Party
          Integration
      playbookName:
        simple: Cisco Prime Clients
      status:
        simple: disabled
      type:
        simple: device
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 241ec887-ae83-4e2d-881e-76fdca6fffc3
      iscommand: true
      name: Send Disable Status to IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 241ec887-ae83-4e2d-881e-76fdca6fffc3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 545
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "172800"
      index:
        simple: ${incident.splunkindex}
      poll_interval:
        simple: ${incident.playbookpollinterval}
      sourcetype:
        simple: ${incident.splunksourcetype}
      splunk_instance_name:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      id: 6681c7d9-ab96-4bb9-8560-1960552945eb
      iscommand: false
      name: Export Device Attributes from Splunk to PANW
      script: ExportDeviceAttributesFromSplunkToPANWIoTCloud
      type: regular
      version: -1
    taskid: 6681c7d9-ab96-4bb9-8560-1960552945eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1677.5,
          "y": 720
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 1d2b1c84-ffc8-4446-89db-1934d431cba1
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 1d2b1c84-ffc8-4446-89db-1934d431cba1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 720
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "no":
      - "22"
      "yes":
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      integration_instance_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: Splunk
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9cbaa804-9f8f-4e53-8aa6-30b5f71d0141
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 9cbaa804-9f8f-4e53-8aa6-30b5f71d0141
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 545
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: splunk
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Incremental Export of  Splunk Device Attributes - PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 506fe2d3-fb1a-46fe-88d5-26452eb62c1b
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 506fe2d3-fb1a-46fe-88d5-26452eb62c1b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1070
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: splunk
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Incremental Export of  Splunk Device Attributes - PANW IoT 3rd Party
          Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 3faecee4-4663-4228-85a4-486b999312c4
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 3faecee4-4663-4228-85a4-486b999312c4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 1070
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: e57cd89a-a8af-40db-8255-5e8f1f111b2f
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: e57cd89a-a8af-40db-8255-5e8f1f111b2f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1032.5,
          "y": 1245
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: a22c021a-e9b5-4da4-87d2-5d7cf1871bb3
      iscommand: false
      name: Is Splunk Integration Instance Available
      script: Exists
      type: condition
      version: -1
    taskid: a22c021a-e9b5-4da4-87d2-5d7cf1871bb3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 195
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: splunk
      message:
        simple: No Splunk integration instance passed
      playbook_name:
        simple: Incremental Import of Splunk Device Attributes - PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 5cae9ca5-5ea8-4abd-8f42-9ff6a14df61b
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 5cae9ca5-5ea8-4abd-8f42-9ff6a14df61b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "28"
      "yes":
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 2770ab76-a694-454f-8e11-2006ebd9fc9a
      iscommand: false
      name: Was there an error when sending devices to PANW IoT Cloud?
      script: isError
      type: condition
      version: -1
    taskid: 2770ab76-a694-454f-8e11-2006ebd9fc9a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1677.5,
          "y": 895
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: splunk
      message:
        simple: 'Error: Failed to export Splunk device attributes'
      playbook_name:
        simple: Incremental Export from Splunk Device Attributes - PANW IoT 3rd Party
          Integration
      playbookName:
        simple: Cisco Prime Clients
      status:
        simple: error
      type:
        simple: device
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 4bfaa9ef-8c63-467a-8fee-febf00317218
      iscommand: true
      name: Send error status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 4bfaa9ef-8c63-467a-8fee-febf00317218
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 1070
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: splunk
      message:
        simple: Devices attributes are successfully sent to PANW IoT Cloud
      playbook_name:
        simple: Incremental Export from Splunk Device Attributes - PANW IoT 3rd Party
          Integration
      playbookName:
        simple: Cisco Prime Clients
      status:
        simple: success
      type:
        simple: device
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 95588802-47b5-490c-87de-32bbe89acd2d
      iscommand: true
      name: Send success status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 95588802-47b5-490c-87de-32bbe89acd2d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 1070
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1290,
        "width": 2120,
        "x": 50,
        "y": 50
      }
    }
  }
