playbook/playbook-Bulk_Rapid7_Get_Scans_and_Report_Handling_V2-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 1.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 812e150b-dee0-4cb7-830d-f948ebca373f
inputs: []
name: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: 66d4a7a8-e7cd-4593-877c-d2f23f71a33a
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 67f0df45-5233-4240-8b41-dca366ccf6df
      iscommand: false
      name: ""
      version: -1
    taskid: 67f0df45-5233-4240-8b41-dca366ccf6df
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 50
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      days:
        simple: "50"
      number:
        simple: "30"
      unit:
        simple: DAYS
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 008c6548-569d-425b-84bd-1f491f1a49ab
      iscommand: false
      name: Get Last 30 Days DateTime
      script: GetLastDateTime
      type: regular
      version: -1
    taskid: 008c6548-569d-425b-84bd-1f491f1a49ab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 545
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      active_rapid7_instance:
        simple: ${incident.integrationinstancename}
      time:
        simple: ${PANWIoTCloud.DateTimeDelta}
      type:
        simple: BULK
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: da850739-b00b-4661-8724-211743c62f2e
      iscommand: false
      name: Launch Rapid7 reports for finished scans
      script: GetRapid7FinishedScansAndGenerateReportV2
      type: regular
      version: -1
    taskid: da850739-b00b-4661-8724-211743c62f2e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 720
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "33"
      "yes":
      - "6"
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Rapid7.LaunchReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: eac36634-3571-427d-82f7-3eb647bedb01
      iscommand: false
      name: Did the Report Launch Fail?
      script: ea2fa025-47c1-420b-895b-d5b62cfab9b3
      type: condition
      version: -1
    taskid: eac36634-3571-427d-82f7-3eb647bedb01
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 895
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${Rapid7.LaunchReportfailStatus}
      scan_type:
        simple: rapid7
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: 1ee57085-a43c-4ad7-8296-624aff0103f7
      iscommand: true
      name: Report Launch Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: 1ee57085-a43c-4ad7-8296-624aff0103f7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 1245
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: ${Rapid7.LaunchReportfailStatus}
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: bb92150a-2ab1-40be-8568-fdb9a33d10e1
      iscommand: true
      name: Report Launch Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: bb92150a-2ab1-40be-8568-fdb9a33d10e1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1257.5,
          "y": 1245
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "300"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 8c733409-cef5-4393-8965-f94bc1929511
      iscommand: false
      name: Wait 5 minute for the reports to finish
      script: Sleep
      type: regular
      version: -1
    taskid: 8c733409-cef5-4393-8965-f94bc1929511
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1245
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      active_rapid7_instance:
        simple: ${incident.integrationinstancename}
      type:
        simple: BULK
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 80f825a2-ad31-4f48-899b-3b822f3ecf3a
      iscommand: false
      name: Preparing Download Finished Rapid7 Scan Reports
      script: DownloadFinishedRapid7ScanReportsForPANWIoTCloudV2
      type: regular
      version: -1
    taskid: 80f825a2-ad31-4f48-899b-3b822f3ecf3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1420
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "11"
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Rapid7.DownloadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 24568fce-ce05-45e0-8f52-cfc1bb032d67
      iscommand: false
      name: Did the Report Download Fail?
      script: ea2fa025-47c1-420b-895b-d5b62cfab9b3
      type: condition
      version: -1
    taskid: 24568fce-ce05-45e0-8f52-cfc1bb032d67
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1595
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${Rapid7.DownloadReportfailStatus}
      scan_type:
        simple: rapid7
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: c16d73ce-af44-4f4f-8d60-85c96cac6d5c
      iscommand: true
      name: Report Download Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: c16d73ce-af44-4f4f-8d60-85c96cac6d5c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1945
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: ${Rapid7.DownloadReportfailStatus}
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: c1d80f7c-ed54-4678-813c-16abfbbcdacc
      iscommand: true
      name: Report Download Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: c1d80f7c-ed54-4678-813c-16abfbbcdacc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "20"
      "yes":
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PANWIoTCloud.finishedReports}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 779fd793-40a2-4e70-8ebf-e88e74793aec
      iscommand: false
      name: Check if there are any available reports to upload
      script: Exists
      type: condition
      version: -1
    taskid: 779fd793-40a2-4e70-8ebf-e88e74793aec
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 2295
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      file_data:
        simple: ${InfoFile}
      job_data:
        simple: ${PANWIoTCloud.finishedReports}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fefda47a-0562-4cff-8019-cc19424f0df5
      iscommand: false
      name: Upload Files to PANW IoT Cloud
      script: UploadFinishedRapid7ScanReportstoPANWIoTCloudV2
      type: regular
      version: -1
    taskid: fefda47a-0562-4cff-8019-cc19424f0df5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 715,
          "y": 2470
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "17"
      "yes":
      - "18"
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Rapid7.uploadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 49cbbc49-19ac-4768-8ca4-4c4edc5b2809
      iscommand: false
      name: Did the Report Uploads Fail?
      script: ea2fa025-47c1-420b-895b-d5b62cfab9b3
      type: condition
      version: -1
    taskid: 49cbbc49-19ac-4768-8ca4-4c4edc5b2809
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 715,
          "y": 2645
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: ba3cf427-3ac9-46a4-8068-7370331ecbad
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ba3cf427-3ac9-46a4-8068-7370331ecbad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2120
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: 'Successfully uploaded reports '
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 7a6f7874-8e8a-4e8e-8a06-b50a0e84c5f1
      iscommand: true
      name: Report Upload Success to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 7a6f7874-8e8a-4e8e-8a06-b50a0e84c5f1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 295,
          "y": 2820
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: ${Rapid7.uploadReportfailStatus}
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 4761b8dd-f007-466e-84a3-e2f74a76a3e0
      iscommand: true
      name: Report Upload Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 4761b8dd-f007-466e-84a3-e2f74a76a3e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 725,
          "y": 2820
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: ${Rapid7.uploadReportfailStatus}
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: c873b23f-2813-4906-8fff-3f13247de36f
      iscommand: true
      name: Report Upload Error as Event
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: c873b23f-2813-4906-8fff-3f13247de36f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1155,
          "y": 2820
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: No scans available for reporting
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 5c767571-dd03-4071-8847-762ba977eac8
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 5c767571-dd03-4071-8847-762ba977eac8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1585,
          "y": 2820
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: Rapid7 integration is not enabled
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: a3b0036c-1611-4834-88bd-5e3bb2671c3f
      iscommand: true
      name: Report disabled status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: a3b0036c-1611-4834-88bd-5e3bb2671c3f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2020,
          "y": 2830
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 1f308edf-827e-499a-861c-3a58c57c7376
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 1f308edf-827e-499a-861c-3a58c57c7376
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 2995
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: f14b74bd-1004-4f57-8374-7988bbadbfff
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f14b74bd-1004-4f57-8374-7988bbadbfff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1145,
          "y": 1420
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      reportInfo:
        simple: ${Nexpose.reportInfoList}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 792e6950-69df-419f-8317-a28883c59971
      iscommand: true
      name: Download Reports
      script: '|||nexpose-get-file-reports'
      type: regular
      version: -1
    taskid: 792e6950-69df-419f-8317-a28883c59971
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1945
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "12"
      "yes":
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${Nexpose.reportInfoList}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: efe26b9e-827c-40ff-8100-e13046a507bb
      iscommand: false
      name: Check if there are any available reports infos
      script: Exists
      type: condition
      version: -1
    taskid: efe26b9e-827c-40ff-8100-e13046a507bb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1770
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      active_rapid7_instance:
        simple: ${incident.integrationinstancename}
      reportInfo:
        simple: ${Nexpose.reportInfoList}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ab2e3642-98f2-461e-8d38-cb441500ed7a
      iscommand: false
      name: Delete Reports
      script: DeleteFinishedRapid7ScanReportsV2
      type: regular
      version: -1
    taskid: ab2e3642-98f2-461e-8d38-cb441500ed7a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 2120
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "NO":
      - "30"
      "YES":
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - Rapid7 Nexpose
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 79ca4704-0d31-44eb-8a9b-57acd57b1df0
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 79ca4704-0d31-44eb-8a9b-57acd57b1df0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1545,
          "y": 370
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 64a6c64f-3e4d-4db7-8afd-e237293b7e8e
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 64a6c64f-3e4d-4db7-8afd-e237293b7e8e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 545
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: fcb70270-d5e9-46f5-83c3-1a2395da03ac
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: fcb70270-d5e9-46f5-83c3-1a2395da03ac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 545
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "21"
      "yes":
      - "27"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Rapid7 Nexpose
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: abca5a4a-331a-4b48-870c-7a40f20087b8
      iscommand: false
      name: isIntegrationInstanceAvailable
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: abca5a4a-331a-4b48-870c-7a40f20087b8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 195
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 42813335-1be1-40a5-8838-72af3972b715
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 42813335-1be1-40a5-8838-72af3972b715
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1585,
          "y": 720
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "34"
      "yes":
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PANWIoTCloud.scansPresentOnRapid7}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 06629ca7-8b2d-4dfb-8b84-59a722536484
      iscommand: false
      name: Scans present to download?
      script: Exists
      type: condition
      version: -1
    taskid: 06629ca7-8b2d-4dfb-8b84-59a722536484
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 540,
          "y": 1060
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: No scans present on Rapid7 V2.
      playbook_name:
        simple: Bulk Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 27b7f1f9-ec38-448c-8957-369f38454a75
      iscommand: true
      name: Report Scans not present to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 27b7f1f9-ec38-448c-8957-369f38454a75
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 1245
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3040,
        "width": 2350,
        "x": 50,
        "y": 50
      }
    }
  }
