playbook/playbook-Bulk_Import_of__subnet_network_info_from_BlueCat_IPAM_to_PANW_IoT_Cloud.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 6.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
dirtyInputs: true
id: 6c5ee2fe-98bf-40ab-8ab0-c624a765cab3
inputs: []
name: Bulk Import of  subnet network info from BlueCat IPAM to PANW IoT Cloud
outputs: []
sourceplaybookid: 985135c8-3cc9-43b1-8783-926b487a076d
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 83986115-cae4-441b-8e4a-48eda2691219
      iscommand: false
      name: ""
      version: -1
    taskid: 83986115-cae4-441b-8e4a-48eda2691219
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 695,
          "y": 20
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "11"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - BlueCat IPAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: fe33fd9c-d07c-49f8-8c18-52cb1dd72edc
      iscommand: false
      name: Is BlueCat enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: fe33fd9c-d07c-49f8-8c18-52cb1dd72edc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 960,
          "y": 400
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ipam_bluecat
      message:
        simple: BlueCat IPAM integration is not enabled
      playbook_name:
        simple: Bulk Import of  subnet network info from BlueCat IPAM to PANW IoT
          Cloud
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: c070df2f-40e9-474a-8065-9aa3ae6587fc
      iscommand: true
      name: Send disabled status back to PANW IoT cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: c070df2f-40e9-474a-8065-9aa3ae6587fc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 280,
          "y": 570
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: ebf553c0-d5d8-4b6c-8f5f-0058b1982a98
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ebf553c0-d5d8-4b6c-8f5f-0058b1982a98
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 770
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      bluecat_instance_name:
        simple: ${incident.integrationinstancename}
      data_overwrite:
        simple: ${incident.useipamnonsitedataifthesameblockorsubnetisiniotsecurity}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ac184ddb-4a15-49b4-8c15-702c55f17e76
      iscommand: false
      name: Export BlueCat Subnet Info and Update PANW IoT cloud
      script: BlueCatIPAMGetSubnetNetwork
      type: regular
      version: -1
    taskid: ac184ddb-4a15-49b4-8c15-702c55f17e76
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 720
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "10"
      "yes":
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: f95a699e-5d1b-48e7-8fae-c6b95ffca36e
      iscommand: false
      name: Was there an error when sending devices to PANW IoT Cloud?
      script: isError
      type: condition
      version: -1
    taskid: f95a699e-5d1b-48e7-8fae-c6b95ffca36e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 895
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ipam_bluecat
      message:
        simple: 'Error: Failed to do a bulk export BlueCat IPAM Data'
      playbook_name:
        simple: Bulk Import of  subnet network info from BlueCat IPAM to PANW IoT
          Cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 97d10d58-bd1a-46f1-8a84-6bec268484b6
      iscommand: true
      name: Send error status back to PANW IoT cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 97d10d58-bd1a-46f1-8a84-6bec268484b6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 1070
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 035e6bf0-326b-41a7-81b4-787aae8c9a88
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 035e6bf0-326b-41a7-81b4-787aae8c9a88
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 1245
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: a5eedc47-2b2b-4654-87c6-44f5db0e6097
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: a5eedc47-2b2b-4654-87c6-44f5db0e6097
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1245
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ipam_bluecat
      message:
        simple: Successfully exported BlueCat IPAM Data
      playbook_name:
        simple: Bulk Import of  subnet network info from BlueCat IPAM to PANW IoT
          Cloud
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: dddeff5f-3ce8-4906-8436-71716c136b5a
      iscommand: true
      name: Send success status back to PANW IoT cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: dddeff5f-3ce8-4906-8436-71716c136b5a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1070
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "no":
      - "12"
      "yes":
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - BlueCat IPAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e266506c-7b06-4ba1-801e-07b52617c7f6
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: e266506c-7b06-4ba1-801e-07b52617c7f6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 980,
          "y": 610
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ipam_bluecat
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Bulk Import of subnet network info from BlueCat IPAM to PANW IoT Cloud
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e1a6a29f-1e9a-4305-89a2-2acd7e1c28c0
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: e1a6a29f-1e9a-4305-89a2-2acd7e1c28c0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1130,
          "y": 850
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: f359f735-b518-432d-83d9-d046adc708ac
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f359f735-b518-432d-83d9-d046adc708ac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1020
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ipam_bluecat
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Bulk Import of subnet network info from BlueCat IPAM to PANW IoT Cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 6f2983ef-b3f1-4505-81ce-f704f6b101bb
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 6f2983ef-b3f1-4505-81ce-f704f6b101bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 850
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 4fbf0ef9-d60f-4895-8f73-97c9240e6536
      iscommand: false
      name: Is BlueCat IPAM Integration Instance Available
      script: Exists
      type: condition
      version: -1
    taskid: 4fbf0ef9-d60f-4895-8f73-97c9240e6536
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 175
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ipam_bluecat
      message:
        simple: No BlueCat IPAM integration is passed
      playbook_name:
        simple: Bulk Import of  subnet network info from BlueCat IPAM to PANW IoT
          Cloud
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 9f86b8ef-a70a-4f9b-8bc1-3fab785925f1
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 9f86b8ef-a70a-4f9b-8bc1-3fab785925f1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -140,
          "y": 530
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_16_no": 0.14
    },
    "paper": {
      "dimensions": {
        "height": 1320,
        "width": 2300,
        "x": -140,
        "y": 20
      }
    }
  }
