playbook/playbook-Incremental_Export_to_SIEM_-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.0.16
    packID: ""
    packName: Palo Alto Networks IoT 3rd Party Integrations
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook gets all available assets ( alerts, vulnerabilities and
  devices) and send then to configured PANW third-party integration SIEM server.
id: 7Incremental Export to SIEM - PANW IoT 3rd Party Integration
inputs: []
name: Incremental Export to SIEM - PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: Bulk Export to SIEM - PANW IoT 3rd Party Integration
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 74ff8a0d-bc01-4478-8b3e-1feea62a1b81
      iscommand: false
      name: ""
      version: -1
    taskid: 74ff8a0d-bc01-4478-8b3e-1feea62a1b81
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 800,
          "y": -150
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: siem
      message:
        simple: Syslog Sender (SIEM) instance is not enabled
      playbook_name:
        simple: Incremental Export to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: d364f62e-12a9-4c86-8bdd-106f492a2b0f
      iscommand: true
      name: Send disabled status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: d364f62e-12a9-4c86-8bdd-106f492a2b0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 890
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      execution-timeout:
        simple: "864000"
      poll_interval:
        simple: ${incident.playbookpollinterval}
      sites:
        simple: ${incident.sitenames}
      syslog_sender_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This automation retrieves all specified assets from the PANW IoT
        cloud and send them to the SIEM server.
      id: 9bb8549c-335f-4568-8db0-df99bf0e0e49
      iscommand: false
      name: Send PANW IoT devices to SIEM
      script: SendPANWIoTAssetsToSIEM
      type: regular
      version: -1
    taskid: 9bb8549c-335f-4568-8db0-df99bf0e0e49
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -200,
          "y": 895
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: alert
      execution-timeout:
        simple: "864000"
      poll_interval:
        simple: ${incident.playbookpollinterval}
      sites:
        simple: ${incident.sitenames}
      syslog_sender_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This automation retrieves all specified assets from the PANW IoT
        cloud and send them to the SIEM server.
      id: c498ba1b-afc7-4dce-8dd4-6b2bda63990c
      iscommand: false
      name: Send PANW IoT alerts to SIEM
      script: SendPANWIoTAssetsToSIEM
      type: regular
      version: -1
    taskid: c498ba1b-afc7-4dce-8dd4-6b2bda63990c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 895
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      execution-timeout:
        simple: "864000"
      poll_interval:
        simple: ${incident.playbookpollinterval}
      sites:
        simple: ${incident.sitenames}
      syslog_sender_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This automation retrieves all specified assets from the PANW IoT
        cloud and send them to the SIEM server.
      id: 578ddc0e-6716-4d98-89ea-fbcbfb7b6907
      iscommand: false
      name: Send PANW IoT vulnerabilities to SIEM
      script: SendPANWIoTAssetsToSIEM
      type: regular
      version: -1
    taskid: 578ddc0e-6716-4d98-89ea-fbcbfb7b6907
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 630,
          "y": 895
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 8beb0ec4-9429-4784-843d-264eff47ff8f
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 8beb0ec4-9429-4784-843d-264eff47ff8f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 1140
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "no":
      - "9"
      "yes":
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - Syslog Sender
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 917f8dfe-24b0-4b22-8c2c-4a61f1f7fa95
      iscommand: false
      name: is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 917f8dfe-24b0-4b22-8c2c-4a61f1f7fa95
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 310
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: siem
      message:
        simple: Failed to get License
      playbook_name:
        simple: Incremental Export to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: b4e752ca-2a25-4bf4-8160-75d653c09413
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: b4e752ca-2a25-4bf4-8160-75d653c09413
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 895
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: siem
      message:
        simple: License Limit Exceeded
      playbook_name:
        simple: Incremental Export to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 314c7e9e-3c1e-478d-8871-4abfdc4f9473
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 314c7e9e-3c1e-478d-8871-4abfdc4f9473
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 890
        }
      }
  "10":
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: ${incident.integrationinstancename}
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "11"
      "yes":
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 1f0fc29b-e8ae-44a1-8a51-7ef2289f4605
      iscommand: false
      name: Is Syslog(SIEM) Integration Instance Available
      script: Exists
      type: condition
      version: -1
    taskid: 1f0fc29b-e8ae-44a1-8a51-7ef2289f4605
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 800,
          "y": -40
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: PANW IoT 3rd Party Integration - Syslog Sender
      message:
        simple: No Syslog  Integration instance passed
      playbook_name:
        simple: Incremental Export to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 1f05cdea-a4fd-4086-8f5a-4617b580f11f
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 1f05cdea-a4fd-4086-8f5a-4617b580f11f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 155
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 6b4936bf-b2fa-4d2e-8622-ff1242df6cb4
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 6b4936bf-b2fa-4d2e-8622-ff1242df6cb4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 295
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "7"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Syslog Sender
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: cf00ee42-862f-48f4-80c1-342ac6c0d6d1
      iscommand: false
      name: Is Syslog (SIEM)  Integration Enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: cf00ee42-862f-48f4-80c1-342ac6c0d6d1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 140
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "15"
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      instance_name:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7da16b57-4a67-4c3b-854d-0f734a4a1d18
      iscommand: false
      name: Retrieve Configured SIEM Asset Types
      script: CheckConfiguredSIEMAssetTypes
      type: regular
      version: -1
    taskid: 7da16b57-4a67-4c3b-854d-0f734a4a1d18
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 430
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: asset.device
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: DEVICE
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      DEVICE:
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9a853a16-e8b6-4036-85be-b44bd8d47dba
      iscommand: false
      name: Device Type Selected?
      type: condition
      version: -1
    taskid: 9a853a16-e8b6-4036-85be-b44bd8d47dba
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -200,
          "y": 670
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: asset.vulnerability
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: VULNERABILITY
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      VULNERABILITY:
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e2655493-542c-4016-8bbb-11e56395d5c1
      iscommand: false
      name: Vulnerability Type Selected?
      type: condition
      version: -1
    taskid: e2655493-542c-4016-8bbb-11e56395d5c1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 630,
          "y": 660
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: asset.alert
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: ALERT
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      ALERT:
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 96d08018-1681-4223-8a73-3ac27eb7ad98
      iscommand: false
      name: Alert Type Selected?
      type: condition
      version: -1
    taskid: 96d08018-1681-4223-8a73-3ac27eb7ad98
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 220,
          "y": 660
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1385,
        "width": 2460,
        "x": -200,
        "y": -150
      }
    }
  }
