playbook/playbook-Process_Email_-_Generic_v2_(Bessemerr).yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 3.6.19
    packID: ""
    packName: Phishing
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook adds email details to the relevant context entities and handles original email attachments.

  The v2 playbook enables parsing email artifacts more efficiently, including:
  - Using incident fields and not incident labels.
  - Providing separate paths to "Phishing Alerts".
  - Using the new "Get Original Email - Generic v2" playbook to retrieve original emails as EML files from the following integrations:
    * EWS v2
    * Microsoft Graph Mail integration
    * Gmail
    * FireEye EX and FireEye CM
    * Proofpoint Protection Server
    * Agari Phishing Defense (EWS v2, MSGraph Mail, Gmail)
    * Mimecast.
dirtyInputs: true
id: 7fe1a735-47f2-4a44-89e5-005673b95b27
inputs:
- description: An EML or MSG file.
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: The receiver email address.
  key: Email
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
- description: The email CC addresses.
  key: EmailCC
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailcc
      root: incident
- description: The sender email address.
  key: EmailFrom
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailfrom
      root: incident
- description: The email subject.
  key: EmailSubject
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailsubject
      root: incident
- description: The email text.
  key: EmailText
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailbody
      root: incident
- description: The email HTML.
  key: EmailHtml
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailhtml
      root: incident
- description: The email headers.
  key: EmailHeaders
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: phishingreporteremailheaders
      root: incident
- description: The email format.
  key: EmailFormat
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailformat
      root: incident
- description: |-
    Retrieves the original email in the thread.

    You must have the necessary permissions in your email service to execute global search.

    - For EWS: eDiscovery
    - For Gmail: Google Apps Domain-Wide Delegation of Authority
    - For MSGraph: As described in the [message-get API](https://docs.microsoft.com/en-us/graph/api/message-get) and the [user-list-messages API](https://docs.microsoft.com/en-us/graph/api/user-list-messages)
  key: GetOriginalEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The original email message ID to retrieve. Holds the value of the "Message-ID"
    header of the original email. This value is passed as an input to the "Get Original
    Email - Generic v2" playbook.
  key: MessageID
  playbookInputQuery: null
  required: false
  value: {}
- description: The user's email address to retrieve the original email. This value
    is passed as an input to the "Get Original Email - Generic v2" playbook.
  key: UserID
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailfrom
      root: incident
      transformers:
      - args:
          regex:
            value:
              simple: (?i).*<([A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,})>
          replaceWith:
            value:
              simple: $1
        operator: replaceMatch
- description: The value of the "Thread-Topic" header which holds the original email
    subject, needed for forwarded email scenarios. It is passed as an input to the
    "Get Original Email - Generic v2" playbook to use in the relevant sub-playbooks.
  key: Thread-Topic
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    If this value is provided, only the relevant playbook runs. If no value is provided, all sub-playbooks are run.
    Possible values:
    - Gmail
    - EWS v2
    - MicrosoftGraphMail
    - EmailSecurityGateway
    Choosing the EmailSecurityGateway executes the following if enabled: - FireEye EX (Email Security) - Proofpoint TAP - Mimecast.
  key: EmailBrand
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Reported emails and emails retrieved during playbook execution can contain multiple nested email files. For example, an EML nested inside another EML file.
    If multiple level files are detected, this field determines which file represents the phishing email.

    For example:
    User1 receives an email from Attacker. User1 attaches the email as an EML file and sends the email to User2.
    User2 also attaches that email as a file, and reports it as phishing. In this case, the phishing email would be the "inner file" (as opposed to "outer file").

    Possible values are: Inner file, Outer file, All files.
    Inner file: The file at the deepest level is parsed. If there is only one file, that file is parsed.
    Outer file: The file at the first level is parsed.
    All files: All files are parsed. Do not use this option in the phishing playbook, as there should only be one phishing email per playbook run.
  key: EmailFileToExtract
  playbookInputQuery: null
  required: false
  value:
    simple: Inner file
- description: |-
    This input is used to preserve backward-compatibility. It determines whether the playbook should set email fields that are no longer being used in the out-of-the-box content.
    If set to True, the playbook will save data into the the "Email Body HTML" and "Rendered HTML" incident fields as it did before.
    If set to False, the playbook will not save data into those fields, and will simply be using the Email HTML field instead.
    If you are ingesting large emails which are causing issues with large amounts of data being saved into incident fields, you should set the value to False.
    We recommend setting the value to False unless you are certain that you need the "Email Body HTML" and "Rendered HTML" incident fields.
  key: UseOldHTMLFields
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: 'Process Email - Generic v2 (Bessemerr) '
outputs:
- contextPath: Email.HTML
  description: The email HTML body if it exists.
  type: string
- contextPath: Email
  description: The email object.
  type: string
- contextPath: Email.CC
  description: The email CC addresses.
  type: string
- contextPath: Email.From
  description: The email sender address.
  type: string
- contextPath: Email.Subject
  description: The email subject.
  type: string
- contextPath: Email.To
  description: The email receiver addresses.
  type: string
- contextPath: Email.Text
  description: The email text body if it exists.
  type: string
- contextPath: Email.Headers
  description: The full email headers as a single string.
  type: string
- contextPath: Email.Attachments
  description: The list of attachment names in the email.
  type: string
- contextPath: Email.Format
  description: The format of the email if available.
  type: string
- contextPath: File
  description: The file object.
  type: string
- contextPath: QRCodeReader
  description: The QR code reader primary key object.
  type: unknown
- contextPath: QRCodeReader.Text
  description: The raw text extracted from the QR code image.
  type: String
- contextPath: QRCodeReader.Domain
  description: The domains extracted from the QR code image if they are present.
  type: String
- contextPath: QRCodeReader.URL
  description: The URLs extracted from the QR code image if they are present.
  type: String
- contextPath: QRCodeReader.IP
  description: The IPs extracted from the QR code image if they are present.
  type: String
sourceplaybookid: Process Email - Generic v2
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8cb4a33-e3c1-4381-8dac-a0e3a7f17230
      iscommand: false
      name: ""
      version: -1
    taskid: a8cb4a33-e3c1-4381-8dac-a0e3a7f17230
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -510
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "50"
      "yes":
      - "44"
    note: false
    quietmode: 0
    reputationcalc: 1
    results:
    - reportedemailentryid
    scriptarguments:
      entryid:
        simple: ${inputs.File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identifies whether the incident includes an email message attached
        as an EML or MSG file and returns the answer to playbook. Also saves the identified
        entry ID to context for use for later. Commonly used in automated playbooks
        that handle phishing reports sent to a special phishing mailbox set up by
        the security team.
      id: 16e704e8-0e7e-4683-82d1-5f1225af8fce
      iscommand: false
      name: Do we have original emails attached?
      script: IdentifyAttachedEmail
      type: condition
      version: -1
    taskid: 16e704e8-0e7e-4683-82d1-5f1225af8fce
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 15
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        simple: ${reportedemailentryid}
      nesting_level_to_return:
        complex:
          root: inputs.EmailFileToExtract
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parse an email from an eml or msg file and populate all relevant
        context data to investigate the email. Also extracts inner attachments and
        returns them to the war room. The incident labels themselves are preserved
        and not modified - only the "Label/x" context items that originated from the
        labels, and the best practice is to rely on these for the remainder of the
        playbook.
      id: 5356349b-c1ef-4063-80fa-0d6c9bba9c3c
      iscommand: false
      name: Extract email artifacts and attachments
      script: ParseEmailFilesV2
      type: regular
      version: -1
    taskid: 5356349b-c1ef-4063-80fa-0d6c9bba9c3c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 820,
          "y": 2005
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HTML
                root: Email
          operator: isExists
          right:
            value: {}
        - left:
            iscontext: true
            value:
              complex:
                accessor: Text
                root: Email
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: Email.HTML
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: Email.Text
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Rasterize
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email is HTML-formatted, and whether the Rasterize
        integration is enabled.
      id: 21ed24f1-1352-4fbe-84bc-4fc082ac4500
      iscommand: false
      name: Can an image of the email be rendered?
      type: condition
      version: -1
    taskid: 21ed24f1-1352-4fbe-84bc-4fc082ac4500
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 3970
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      htmlBody:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${Email.Text="<html><body>"+val +"</body></html>"}
            operator: SetIfEmpty
      offline:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Rasterizes an email body into an image.
      id: e070b61f-ec4b-4dcc-8443-d8a7f0ef4466
      iscommand: true
      name: Render HTML to an image
      script: '|||rasterize-email'
      tags:
      - email_html_image
      type: regular
      version: -1
    taskid: e070b61f-ec4b-4dcc-8443-d8a7f0ef4466
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 4190
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d2579c2a-259f-4fc2-8985-58aa10dc6691
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: d2579c2a-259f-4fc2-8985-58aa10dc6691
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 350,
          "y": 4560
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c0d155b8-72cf-4856-85d3-af3dea921254
      iscommand: false
      name: Email Screenshot
      type: title
      version: -1
    taskid: c0d155b8-72cf-4856-85d3-af3dea921254
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 350,
          "y": 3840
        }
      }
  "19":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UseOldHTMLFields
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Whether to keep this sub-playbook backward-compatible in terms
        of the incident fields being set. Opting out will result in the Rendered HTML
        and Email Body HTML not being set, and the Email HTML field will be used instead.
      id: e4f49c76-5c5c-4755-8d7d-c19fbc697d15
      iscommand: false
      name: Keep backward-compatibility?
      type: condition
      version: -1
    taskid: e4f49c76-5c5c-4755-8d7d-c19fbc697d15
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 3200
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: Email.Headers
      grid_id:
        simple: emailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Fills the "Email Headers" field in the incident layout with the
        retrieved email headers.
      id: f671fd76-93b4-4a26-8f8d-ad3846c722d5
      iscommand: false
      name: Display email headers in layout - Email.Headers
      script: SetGridField
      type: regular
      version: -1
    taskid: f671fd76-93b4-4a26-8f8d-ad3846c722d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 2960
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isNotEmpty
      label: HeadersMap
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Email.Headers
          operator: isNotEmpty
      label: Headers
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "63"
      Headers:
      - "20"
      HeadersMap:
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email headers were extracted from the original
        email that was either attached or retrieved using available email integrations.
      id: 22a3e165-5eb5-4e0e-86fe-6c55b121c99b
      iscommand: false
      name: Were email headers extracted successfully?
      type: condition
      version: -1
    taskid: 22a3e165-5eb5-4e0e-86fe-6c55b121c99b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 300,
          "y": 2600
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e20fc299-9860-4395-8ca8-b31da2ca4448
      iscommand: false
      name: Incident Layout Display
      type: title
      version: -1
    taskid: e20fc299-9860-4395-8ca8-b31da2ca4448
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 2420
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "50"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the incident contains any kind of file.
      id: 68b2babc-c0e1-4584-8f72-51cbd55d5df2
      iscommand: false
      name: Are there any files in the incident?
      type: condition
      version: -1
    taskid: 68b2babc-c0e1-4584-8f72-51cbd55d5df2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -360
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: IncidentFiles
      value:
        complex:
          root: inputs.File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the files that were initially involved with the incident
        in a separate context key so they are available separate from email attachment
        files.
      id: 320b0f0b-fa17-4471-8dff-cdced9a61794
      iscommand: false
      name: Save incident files separately from email attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 320b0f0b-fa17-4471-8dff-cdced9a61794
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -170
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
      - "27"
      - "28"
      - "29"
      - "30"
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set multiple keys/values to the context.
      id: b5929dda-2bb0-46ca-83c9-450d46f30111
      iscommand: false
      name: Attachment Information
      type: title
      version: -1
    taskid: b5929dda-2bb0-46ca-83c9-450d46f30111
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2010,
          "y": 2600
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Count
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the number of attachments in the email.
      id: 381d08fa-4ef7-495d-8b3e-d8fc7d61725c
      iscommand: false
      name: Save number of attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 381d08fa-4ef7-495d-8b3e-d8fc7d61725c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 2800
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Extension
      value:
        complex:
          accessor: Extension
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment extensions.
      id: 2c357e2c-3162-4946-8042-42c029f31a26
      iscommand: false
      name: Save attachment extensions
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 2c357e2c-3162-4946-8042-42c029f31a26
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 2800
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Hash
      value:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment MD5 hashes.
      id: 3cdccf7c-f664-45fc-8d15-2bcdc3664148
      iscommand: false
      name: Save attachment MD5 hashes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 3cdccf7c-f664-45fc-8d15-2bcdc3664148
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1727.5,
          "y": 2800
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Name
      value:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment names.
      id: fa3b02d5-bd14-4041-8d9b-ee815bff60e7
      iscommand: false
      name: Save attachment names
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: fa3b02d5-bd14-4041-8d9b-ee815bff60e7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2540,
          "y": 2800
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Size
      value:
        complex:
          accessor: Size
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment sizes.
      id: 55aa8423-8bd8-4128-8a20-962d27bccfa2
      iscommand: false
      name: Save attachment sizes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 55aa8423-8bd8-4128-8a20-962d27bccfa2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2140,
          "y": 2800
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Type
      value:
        complex:
          accessor: Type
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment types.
      id: 89b5d4e7-e0fa-41a4-8bb8-f46b7cd80159
      iscommand: false
      name: Save attachment types
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 89b5d4e7-e0fa-41a4-8bb8-f46b7cd80159
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2950,
          "y": 2800
        }
      }
  "37":
    continueonerror: true
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: ExtractedHeadersMap
      grid_id:
        simple: emailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Fills the "Email Headers" field in the incident layout with the
        retrieved email headers.
      id: c123c10c-13cb-437d-8374-be5266d05cf8
      iscommand: false
      name: Display email headers in layout - Email.HeadersMap
      script: SetGridField
      type: regular
      version: -1
    taskid: c123c10c-13cb-437d-8374-be5266d05cf8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 2960
        }
      }
  "39":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: AttachmentNames
                root: Email
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if attachments were found in an EML file to display their
        details in the layout.
      id: 550db820-515d-4f41-8999-6986020f2851
      iscommand: false
      name: Check if attachments were found in eml file
      type: condition
      version: -1
    taskid: 550db820-515d-4f41-8999-6986020f2851
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 820,
          "y": 2170
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: ExtractedHeadersMap
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Email.HeadersMap
              operator: isNotEmpty
          root: Email.HeadersMap
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7bc035e2-104f-46e9-8962-e3bc2b5f893f
      iscommand: false
      name: Set ExtractedHeadersMap
      script: Set
      type: regular
      version: -1
    taskid: 7bc035e2-104f-46e9-8962-e3bc2b5f893f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 2800
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ReportedEmailOrigin
      value:
        simple: Attached
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1bf9a4f5-9a7e-4f1b-8803-0d54956512d9
      iscommand: false
      name: Set reported email origin (attached)
      script: Set
      type: regular
      version: -1
    taskid: 1bf9a4f5-9a7e-4f1b-8803-0d54956512d9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 820,
          "y": 190
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      reportedemailorigin:
        simple: None
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set "reportedemailorigin" incident field value to "None".
      id: 0073b743-fec3-4386-8830-62db3ae448cf
      iscommand: true
      name: Set reported email origin (none)
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 0073b743-fec3-4386-8830-62db3ae448cf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -470,
          "y": 2325
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 82a79175-aae2-4bd8-89dd-15b073829fdb
      iscommand: false
      name: Do Not Retrieve Email
      type: title
      version: -1
    taskid: 82a79175-aae2-4bd8-89dd-15b073829fdb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -470,
          "y": 410
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4d511fdc-01d9-440f-86b5-48b010579edc
      iscommand: false
      name: Keep Old Field Mapping
      type: title
      version: -1
    taskid: 4d511fdc-01d9-440f-86b5-48b010579edc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -940,
          "y": 3020
        }
      }
  "60":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Rendered HTML
      output:
        complex:
          root: inputs.EmailHtml
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.EmailText
            operator: SetIfEmpty
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email
      value:
        simple: '${inputs={To: val[''Email''], CC: val[''EmailCC''], From: val[''EmailFrom''],
          Subject: val[''EmailSubject''], Text: val[''EmailText''], HTML: val[''EmailHtml''],
          Headers: val[''EmailHeaders''], Format: val[''EmailFormat'']}}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the details of the email that was forwarded under the email
        context key. Also saves the HTML or email text to the email body section in
        the layout.
      id: cdbb8893-d265-478f-81b7-93186eba8339
      iscommand: false
      name: Add original email details to context
      script: Set
      type: regular
      version: -1
    taskid: cdbb8893-d265-478f-81b7-93186eba8339
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -940,
          "y": 3160
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e642962a-de69-41f2-8a3b-a0ccdf4314ad
      iscommand: false
      name: No Field Mapping
      type: title
      version: -1
    taskid: e642962a-de69-41f2-8a3b-a0ccdf4314ad
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -500,
          "y": 3025
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email
      value:
        simple: '${inputs={To: val[''Email''], CC: val[''EmailCC''], From: val[''EmailFrom''],
          Subject: val[''EmailSubject''], Text: val[''EmailText''], HTML: val[''EmailHtml''],
          Headers: val[''EmailHeaders''], Format: val[''EmailFormat'']}}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the details of the email that was forwarded under the email
        context key. Also saves the HTML or email text to the email body section in
        the layout.
      id: c46f8796-29fd-47b5-8710-0e5285dceb5a
      iscommand: false
      name: Add original email details to context
      script: Set
      type: regular
      version: -1
    taskid: c46f8796-29fd-47b5-8710-0e5285dceb5a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -500,
          "y": 3160
        }
      }
  "63":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UseOldHTMLFields
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to keep this sub-playbook backward-compatible in terms
        of the incident fields being set. Opting out will result in the Rendered HTML
        and Email Body HTML not being set, and the Email HTML field will be used instead.
      id: 0796296d-afca-4444-8147-1fba7e67661d
      iscommand: false
      name: Keep backward-compatibility?
      type: condition
      version: -1
    taskid: 0796296d-afca-4444-8147-1fba7e67661d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -710,
          "y": 2840
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      attachmentcount:
        complex:
          accessor: |
            Attachment.Count
          root: Email
      attachmentextension:
        complex:
          accessor: Attachment.Extension
          root: Email
      attachmenthash:
        complex:
          accessor: Attachment.Hash
          root: Email
      attachmentid:
        complex:
          accessor: Attachment.ID
          root: Email
      attachmentname:
        complex:
          accessor: Attachment.Name
          root: Email
      attachmentsize:
        complex:
          accessor: Attachment.Size
          root: Email
      attachmenttype:
        complex:
          accessor: Attachment.Type
          root: Email
      deleteEmptyField:
        simple: "True"
      emailbcc:
        complex:
          accessor: HeadersMap.BCC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailbody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: Stringify
      emailbodyformat:
        complex:
          accessor: BodyFormat
          root: Email
      emailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailclientname:
        complex:
          accessor: ClientName
          root: Email
      emailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: Email.Text
            operator: SetIfEmpty
          - operator: uniq
          - operator: Stringify
      emailinreplyto:
        complex:
          accessor: InReplyTo
          root: Email
      emailkeywords:
        complex:
          accessor: Keywords
          root: Email
      emailmessageid:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Message-ID
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailrecipientscount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - operator: count
      emailreplyto:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Reply-To
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailreturnpath:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Return-Path
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailsenderip:
        complex:
          accessor: SenderIP
          root: Email
          transformers:
          - operator: uniq
      emailsize:
        complex:
          accessor: Size
          root: Email
          transformers:
          - operator: uniq
      emailsource:
        complex:
          accessor: Source
          root: Email
          transformers:
          - operator: uniq
      emailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      emailtocount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value: {}
            operator: split
          - operator: count
      emailurlclicked:
        complex:
          root: EmailUrlClicked
      reportedemailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailmessageid:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Message-ID
          root: incident.emailheaders
          transformers:
          - operator: uniq
      reportedemailorigin:
        complex:
          root: ReportedEmailOrigin
      reportedemailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates Cortex XSOAR incident fields using data from the email
        object.
      id: 8e8daa4d-b7a2-4a2d-85d5-aadebc5f9742
      iscommand: true
      name: Display email information in layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 8e8daa4d-b7a2-4a2d-85d5-aadebc5f9742
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 3510
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e0e5f766-e647-44b0-8823-d178c9874f2e
      iscommand: false
      name: Keep Old Fields
      type: title
      version: -1
    taskid: e0e5f766-e647-44b0-8823-d178c9874f2e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": 3380
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      attachmentcount:
        complex:
          accessor: |
            Attachment.Count
          root: Email
      attachmentextension:
        complex:
          accessor: Attachment.Extension
          root: Email
      attachmenthash:
        complex:
          accessor: Attachment.Hash
          root: Email
      attachmentid:
        complex:
          accessor: Attachment.ID
          root: Email
      attachmentname:
        complex:
          accessor: Attachment.Name
          root: Email
      attachmentsize:
        complex:
          accessor: Attachment.Size
          root: Email
      attachmenttype:
        complex:
          accessor: Attachment.Type
          root: Email
      deleteEmptyField:
        simple: "True"
      emailbcc:
        complex:
          accessor: HeadersMap.BCC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailbody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: Stringify
      emailbodyformat:
        complex:
          accessor: BodyFormat
          root: Email
      emailbodyhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: Stringify
      emailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailclientname:
        complex:
          accessor: ClientName
          root: Email
      emailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: uniq
      emailinreplyto:
        complex:
          accessor: InReplyTo
          root: Email
      emailkeywords:
        complex:
          accessor: Keywords
          root: Email
      emailmessageid:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Message-ID
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailrecipientscount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - operator: count
      emailreplyto:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Reply-To
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailreturnpath:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Return-Path
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailsenderip:
        complex:
          accessor: SenderIP
          root: Email
          transformers:
          - operator: uniq
      emailsize:
        complex:
          accessor: Size
          root: Email
          transformers:
          - operator: uniq
      emailsource:
        complex:
          accessor: Source
          root: Email
          transformers:
          - operator: uniq
      emailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      emailtocount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value: {}
            operator: split
          - operator: count
      emailurlclicked:
        complex:
          root: EmailUrlClicked
      renderedhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: Email.Text
            operator: SetIfEmpty
      reportedemailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailmessageid:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Message-ID
          root: incident.emailheaders
          transformers:
          - operator: uniq
      reportedemailorigin:
        complex:
          root: ReportedEmailOrigin
      reportedemailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates Cortex XSOAR incident fields using data from the email
        object.
      id: fa01f32f-e5a4-402b-8cd5-7ce7755eb249
      iscommand: true
      name: Display email information in layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: fa01f32f-e5a4-402b-8cd5-7ce7755eb249
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 3510
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3a2a5a2a-b4eb-46c3-8e46-ae734157dc28
      iscommand: false
      name: Don't Keep Old Fields
      type: title
      version: -1
    taskid: 3a2a5a2a-b4eb-46c3-8e46-ae734157dc28
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 3390
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0463217f-2883-43e3-8b9c-f3a7a208a165
      iscommand: false
      name: Continue
      type: title
      version: -1
    taskid: 0463217f-2883-43e3-8b9c-f3a7a208a165
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 920,
          "y": 3690
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entry_id:
        complex:
          accessor: EntryID
          root: InfoFile
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Extracts the text from a QR code. The output of this script includes
        the output of the script "extractIndicators" run on the text extracted from
        the QR code.
      id: 6c127dde-3058-4dd7-82ea-e05f35a828da
      iscommand: false
      name: Read QR code from image files
      script: ReadQRCode
      type: regular
      version: -1
    taskid: 6c127dde-3058-4dd7-82ea-e05f35a828da
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 4380
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "19_66_yes": 0.52,
      "19_68_#default#": 0.53,
      "23_24_yes": 0.49,
      "39_22_yes": 0.31,
      "4_5_yes": 0.59,
      "4_6_#default#": 0.18,
      "63_59_yes": 0.6,
      "63_61_#default#": 0.58
    },
    "paper": {
      "dimensions": {
        "height": 5135,
        "width": 4270,
        "x": -940,
        "y": -510
      }
    }
  }
