playbook/playbook-Import_MS_Defender_Vulnerabilities_to_PANW_IoT_cloud.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 2.0.17
    packID: ""
    packName: Palo Alto Networks IoT 3rd Party Integrations
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: The playbook will fetch vulnerabilities from the MS Defender XDR and
  send it to the Palo Alto IoT platform via a REST API call.
id: 97923dc8-3b66-40d9-8302-7a5d52b8211c
inputs: []
name: Import MS Defender Vulnerabilities to PANW IoT cloud
outputs: []
sourceplaybookid: Import Defender WLC devices to PANW IoT cloud
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7ac2dbd5-61f2-49e2-8708-dc4aa47c964f
      iscommand: false
      name: ""
      version: -1
    taskid: 7ac2dbd5-61f2-49e2-8708-dc4aa47c964f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "no":
      - "2"
      "yes":
      - "19"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - MS Defender XDR
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: 354d9c59-eb0a-4f4d-8e27-bf65533cd8b1
      iscommand: false
      name: Is MS Defender integration enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: 354d9c59-eb0a-4f4d-8e27-bf65533cd8b1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 410
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_defender_xdr
      message:
        simple: MS Defender integration is not enabled
      playbook_name:
        simple: Import MS Defender Vulnerabilities to PANW IoT cloud
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 681d6abc-ad3f-4f0f-861a-30f3369b6a80
      iscommand: true
      name: Send disabled status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 681d6abc-ad3f-4f0f-861a-30f3369b6a80
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": 585
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: e4712545-1f9e-4bf0-8d66-77e650bf5db8
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: e4712545-1f9e-4bf0-8d66-77e650bf5db8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 895
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      active_defender_instance:
        simple: ${incident.integrationinstancename}
      poll_interval:
        simple: ${incident.pollingdurationindays}
      severities:
        simple: ${incident.importvulnerabilitiesbycveseveritylevels}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ae347377-d4fc-4a01-83c8-def232763bd1
      iscommand: false
      name: Send MS Defender vulnerabilities to PANW IoT
      script: SendMSDefenderVulnerabilitiesToPANWIoT
      type: regular
      version: -1
    taskid: ae347377-d4fc-4a01-83c8-def232763bd1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 720
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_defender_xdr
      message:
        simple: Invalid integration instance name provided
      playbook_name:
        simple: Import MS Defender Vulnerabilities to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 42caa6ec-f4fe-4e4f-898f-31fa274baa49
      iscommand: true
      name: Send error status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 42caa6ec-f4fe-4e4f-898f-31fa274baa49
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 257.5,
          "y": 545
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "no":
      - "21"
      "yes":
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      integration_instance_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: PANW IoT 3rd Party Integration - MS Defender XDR
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c3e4e6f-bf70-4e83-80d6-a659e169206f
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 0c3e4e6f-bf70-4e83-80d6-a659e169206f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1242.5,
          "y": 545
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_defender_xdr
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Import MS Defender Vulnerabilities to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 23e3621d-b5ed-4bfb-8d48-547e7858fd43
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 23e3621d-b5ed-4bfb-8d48-547e7858fd43
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1032.5,
          "y": 720
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_defender_xdr
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Import MS Defender Vulnerabilities to PANW IoT cloud
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 3c4c1314-b854-4ca1-8f3d-8e7e6b100721
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 3c4c1314-b854-4ca1-8f3d-8e7e6b100721
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1462.5,
          "y": 720
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 52c720ef-35bb-47d7-88d3-bf3419a7817d
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 52c720ef-35bb-47d7-88d3-bf3419a7817d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 960
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 0fefb058-74e6-41b3-8eba-9dd8854f6240
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 0fefb058-74e6-41b3-8eba-9dd8854f6240
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 540,
          "y": 760
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: ${incident.integrationinstancename}
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 186a6c55-91ed-429e-8f2f-2f4d48202d4a
      iscommand: false
      name: Is MS Defender Integration Instance Available
      script: Exists
      type: condition
      version: -1
    taskid: 186a6c55-91ed-429e-8f2f-2f4d48202d4a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 195
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      integration_name:
        simple: ms_defender_xdr
      message:
        simple: No MS Defender Integration instance passed
      playbook_name:
        simple: Import MS Defender Vulnerabilities to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 548364a1-d3e2-49d7-81ed-a61f9e987f8a
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 548364a1-d3e2-49d7-81ed-a61f9e987f8a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -150,
          "y": 420
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_18_#default#": 0.85,
      "1_2_no": 0.65
    },
    "paper": {
      "dimensions": {
        "height": 1005,
        "width": 2432.5,
        "x": -150,
        "y": 50
      }
    }
  }
