playbook/playbook-Export_Single_Asset_to_SIEM_-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.0.11
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Playbook to handle incident triggered from PANW Iot (Zingbox) UI to send
  Alert to SIEM.
dirtyInputs: true
id: Export Single Asset to SIEM - PANW IoT 3rd Party Integration
inputs: []
name: Export Single Asset to SIEM - PANW IoT 3rd Party Integration
outputs:
- contextPath: incident
  description: This playbook is invoked via the incident type "PANW IoT 3rd Party
    SIEM Integration - Alert/Vulnerability"
  type: unknown
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d3f5a490-20ee-4d28-8dbb-60903e6f0e07
      iscommand: false
      name: ""
      version: -1
    taskid: d3f5a490-20ee-4d28-8dbb-60903e6f0e07
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 440,
          "y": -250
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "3"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Syslog Sender
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 8fd8332b-0125-479a-875e-3ed9a7e87e7f
      iscommand: false
      name: Is Syslog Sender(SIEM) Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 8fd8332b-0125-479a-875e-3ed9a7e87e7f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 110
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: ${incident.asset_type}
      integration_name:
        simple: siem
      message:
        simple: Syslog Sender (SIEM) instance is not enabled
      playbook_name:
        simple: Export Single Asset to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: c1c69adf-330b-447f-88fd-6c770a8de875
      iscommand: true
      name: Send disabled status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: c1c69adf-330b-447f-88fd-6c770a8de875
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 200,
          "y": 410
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      asset_id:
        simple: ${incident.zb_ticketid}
      asset_type:
        simple: ${incident.asset_type}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: For a given a asset ID (alert-id, vulnerability-id or mac-address)
        returns the asset details.
      id: 47cfacd5-373a-49e1-8469-eb647d9ceeb3
      iscommand: true
      name: Get PANW IoT Asset details
      script: '|||panw-iot-3rd-party-get-single-asset'
      type: regular
      version: -1
    taskid: 47cfacd5-373a-49e1-8469-eb647d9ceeb3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 400
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "5"
      "yes":
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: c15f806f-bd89-4d2b-8d20-f38bbee05d8b
      iscommand: false
      name: Was there an error getting asset details?
      script: isError
      type: condition
      version: -1
    taskid: c15f806f-bd89-4d2b-8d20-f38bbee05d8b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 660,
          "y": 570
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "8"
      "yes":
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PanwIot3rdParty.SingleAsset}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 63651ab2-e4fc-46e4-84ef-9e96eea4187c
      iscommand: false
      name: Does the asset exist?
      script: Exists
      type: condition
      version: -1
    taskid: 63651ab2-e4fc-46e4-84ef-9e96eea4187c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 750
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: ${incident.asset_type}
      integration_name:
        simple: siem
      message:
        simple: Failed to get Alert (${incident.zb_ticketid}) from IoT cloud.
      playbook_name:
        simple: Export Single Asset to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: b1c490ef-869c-448d-8eee-721da7895e30
      iscommand: true
      name: Send error status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: b1c490ef-869c-448d-8eee-721da7895e30
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 410,
          "y": 760
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      asset_list:
        simple: ${PanwIot3rdParty.SingleAsset}
      asset_type:
        simple: ${incident.asset_type}
      output_format:
        simple: SIEM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: For a given asset (alert, device, vuln) converts it to 3rd party
        format.
      id: 7ef18536-fdb4-47a0-8b00-230f164c2c99
      iscommand: true
      name: Convert asset to CEF format
      script: '|||panw-iot-3rd-party-convert-assets-to-external-format'
      type: regular
      version: -1
    taskid: 7ef18536-fdb4-47a0-8b00-230f164c2c99
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 1120
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: ${incident.asset_type}
      integration_name:
        simple: siem
      message:
        simple: No Alert found with given ID  (${incident.zb_ticketid}).
      playbook_name:
        simple: Export Single Asset to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 6e0630a5-8263-422a-859e-ef2aea8d007c
      iscommand: true
      name: send status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 6e0630a5-8263-422a-859e-ef2aea8d007c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 640,
          "y": 930
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "11"
      "yes":
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PanwIot3rdParty.AlertCEFSyslogs}${PanwIot3rdParty.VulnerabilityCEFSyslogs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: b3748a89-e1c6-49bc-8bbd-5fcc5f1d48df
      iscommand: false
      name: Is there any syslog (CEF) available?
      script: Exists
      type: condition
      version: -1
    taskid: b3748a89-e1c6-49bc-8bbd-5fcc5f1d48df
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 1280
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${PanwIot3rdParty.AlertCEFSyslogs}${PanwIot3rdParty.VulnerabilityCEFSyslogs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a message to Syslog.
      id: f805d816-f71b-4b48-860e-9b22eb812f65
      iscommand: true
      name: 'Send asset syslog '
      script: '|||syslog-send'
      type: regular
      version: -1
    taskid: f805d816-f71b-4b48-860e-9b22eb812f65
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 1460
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: ${incident.asset_type}
      integration_name:
        simple: siem
      message:
        simple: Alert ID  (${incident.zb_ticketid}) not valid for CEF conversion.
      playbook_name:
        simple: Export Single Asset to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e5f715ab-3ecd-4cac-8485-59567c26c7e3
      iscommand: true
      name: Send error status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e5f715ab-3ecd-4cac-8485-59567c26c7e3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1460
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: ${incident.asset_type}
      integration_name:
        simple: siem
      message:
        simple: Successfully sent Alert (${incident.zb_ticketid}) to SIEM
      playbook_name:
        simple: Export Single Asset to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: d6bceebb-6822-47be-8d8e-8ff687402068
      iscommand: true
      name: Send success status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: d6bceebb-6822-47be-8d8e-8ff687402068
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 1600
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: f804b54c-d2d3-4fed-82c3-4d45e94ac202
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f804b54c-d2d3-4fed-82c3-4d45e94ac202
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 220,
          "y": 1750
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "13"
      "yes":
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      asset:
        simple: ${PanwIot3rdParty.SingleAsset}
      asset_type:
        simple: ${incident.asset_type}
      integration_name:
        simple: Syslog Sender
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 327d7c62-b83c-4278-8a11-42b7f3daae54
      iscommand: false
      name: Does severity level match configuration filter?
      script: 2ef6f81e-1456-41a9-8ce5-3b6ebf04ea9d
      type: condition
      version: -1
    taskid: 327d7c62-b83c-4278-8a11-42b7f3daae54
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 920
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2095,
        "width": 1490,
        "x": 200,
        "y": -250
      }
    }
  }
