playbook/playbook-Apply_ACL_to_Cisco_WLC.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Creates and Applies ACL rule to Cisco WLC
id: 8653cf84-e4d5-4493-8a63-16bac3efb2f9
inputs: []
name: Apply ACL to Cisco WLC
outputs: []
sourceplaybookid: Apply ACL to Cisco WLC
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4855639f-2d83-4f85-8967-3d4ba5b719de
      iscommand: false
      name: ""
      version: -1
    taskid: 4855639f-2d83-4f85-8967-3d4ba5b719de
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -700
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      aclContents:
        simple: ${incident.aclContent}
      aclName:
        simple: ${incident.aclName}
      ciscoInstances:
        simple: ${brandInstances}
    separatecontext: false
    skipunavailable: false
    task:
      brand: PANW IoT 3rd Party Integration - Cisco WLAN Controller
      description: Apply ACL in Cisco WLC
      id: 656b8704-8ded-40d2-8771-9b68a7b798bb
      iscommand: false
      name: Apply ACL to Cisco WLAN Controller
      script: 1d46f200-06e7-4b1b-8a4c-a1a54d9739ff
      type: regular
      version: -1
    taskid: 656b8704-8ded-40d2-8771-9b68a7b798bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 650
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 80d2f9b0-a616-4395-8e41-734fcb3632eb
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 80d2f9b0-a616-4395-8e41-734fcb3632eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2170
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "7"
      "yes":
      - "15"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Cisco WLAN Controller
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 70e3cca3-035c-45a8-866b-41734b2cf989
      iscommand: false
      name: Is Cisco WLC integration available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 70e3cca3-035c-45a8-866b-41734b2cf989
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -365
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: cisco_wlc
      message:
        simple: Cisco WLAN Controller integration is disabled
      playbook_name:
        simple: Apply ACL to Cisco WLC
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 6d29db93-416c-4484-8aea-534d9d58f339
      iscommand: true
      name: Report disable status to PAN IoT
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 6d29db93-416c-4484-8aea-534d9d58f339
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": -180
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      aclName:
        simple: ${incident.aclName}
      ciscoInstances:
        simple: ${brandInstances}
    separatecontext: false
    skipunavailable: false
    task:
      brand: PANW IoT 3rd Party Integration - Cisco WLAN Controller
      description: Checks and delete ACL from Cisco WLC if exists
      id: 81c8d936-543f-44f5-8d63-ed29ad9108b2
      iscommand: false
      name: Check and delete ACL on Cisco WLC
      script: 8a629001-b62d-45dd-8c49-dd3d64e6788b
      type: regular
      version: -1
    taskid: 81c8d936-543f-44f5-8d63-ed29ad9108b2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 70
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: e10377bf-fd6f-42d2-8d65-3eaea7556517
      iscommand: false
      name: Any error occurred while checking for ACL from Cisco WLC?
      script: isError
      type: condition
      version: -1
    taskid: e10377bf-fd6f-42d2-8d65-3eaea7556517
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: cisco_wlc
      message:
        simple: Invalid action specified for acl playbook. No delete or add action
          spcified.
      playbook_name:
        simple: Apply ACL to Cisco WLC
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: d39171e2-e641-43b5-8e43-4080488b0976
      iscommand: true
      name: Invalid ACL action specified. Report error.
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: d39171e2-e641-43b5-8e43-4080488b0976
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 70
        }
      }
  "15":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.aclAction
          operator: inList
          right:
            value:
              simple: add,delete
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check ACL action.
      id: 4336de6c-636a-4ca8-868a-9c57a2da437f
      iscommand: false
      name: Check ACL action.
      type: condition
      version: -1
    taskid: 4336de6c-636a-4ca8-868a-9c57a2da437f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -180
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.aclAction
          operator: isEqualString
          right:
            value:
              simple: add
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is ACL add action ?
      id: 8f06969e-fe8d-4e8c-8846-3bce3990256d
      iscommand: false
      name: Is ACL add action ?
      type: condition
      version: -1
    taskid: 8f06969e-fe8d-4e8c-8846-3bce3990256d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 440
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        simple: ${incident.jobId}
      message:
        simple: ${cisco-wlc-IoT.aclStatus}
      status:
        simple: failed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Reports ACLs sync status
      id: 852ab8a0-34d6-497a-8122-b3f77732a8c6
      iscommand: true
      name: Report failed status for job to apply acl
      script: '|||panw-iot-3rd-party-report-aclsync-status'
      type: regular
      version: -1
    taskid: 852ab8a0-34d6-497a-8122-b3f77732a8c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1040
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "30"
      "yes":
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 64721021-78aa-473c-805d-20ff5eda658a
      iscommand: false
      name: Any error occurred while applying ACL to Cisco WLC?
      script: isError
      type: condition
      version: -1
    taskid: 64721021-78aa-473c-805d-20ff5eda658a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 840
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      using:
        simple: PANW IoT 3rd Party ISE Integration Active Instance,PANW IoT 3rd Party
          ISE Integration Standby Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines which configured Cisco ISE instance is in active/primary
        state. state and returns the name of this instance.
      id: a349de48-e880-44fe-80fe-452da9436ed9
      iscommand: false
      name: GetCiscoISEActiveInstance
      script: GetCiscoISEActiveInstance
      type: regular
      version: -1
    taskid: a349de48-e880-44fe-80fe-452da9436ed9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1220
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      active_ise_instance:
        simple: ${PaloAltoIoTIntegrationBase.ActiveNodeInstance}
      content:
        simple: ${incident.authorizationProfileNames.content}
      name:
        simple: ${incident.authorizationProfileNames.authName}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7cd53023-02df-44c7-8363-99b716616e4e
      iscommand: false
      name: Create authorization profile in Cisco ISE
      script: 1d49e0cc-bff0-40af-851b-aa816cbf34d2
      type: regular
      version: -1
    taskid: 7cd53023-02df-44c7-8363-99b716616e4e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1420
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        simple: ${incident.jobId}
      message:
        simple: ACL ${incident.aclAction} successfully
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Reports ACLs sync status
      id: da11f3d8-c458-4194-8f1b-a91494936084
      iscommand: true
      name: Report success status for job to apply acl
      script: '|||panw-iot-3rd-party-report-aclsync-status'
      type: regular
      version: -1
    taskid: da11f3d8-c458-4194-8f1b-a91494936084
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1810
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "22"
      - "33"
      "yes":
      - "24"
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 452c5154-13b5-4ad5-87b1-807e55ca63c7
      iscommand: false
      name: Any error occurred while applying authorization profile to Cisco ISE?
      script: isError
      type: condition
      version: -1
    taskid: 452c5154-13b5-4ad5-87b1-807e55ca63c7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1610
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        simple: ${incident.jobId}
      message:
        simple: Authorization profile update failed in Cisco ISE
      status:
        simple: failed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Reports ACLs sync status
      id: dbac9110-4d89-412a-80b8-d30e6288217c
      iscommand: true
      name: Report failed status for job to acl apply
      script: '|||panw-iot-3rd-party-report-aclsync-status'
      type: regular
      version: -1
    taskid: dbac9110-4d89-412a-80b8-d30e6288217c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1810
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "28"
      "yes":
      - "6"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Cisco ISE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 5d6fea77-4935-480e-8c01-67e1f2aa8e63
      iscommand: false
      name: Is Cisco ISE integration available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 5d6fea77-4935-480e-8c01-67e1f2aa8e63
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": -365
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: cisco_wlc
      message:
        simple: ACL ${incident.aclAction} successfully
      playbook_name:
        simple: Apply ACL to Cisco WLC
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 8177dabe-fccd-4bd6-8cd2-da0913242e16
      iscommand: true
      name: Report ACL applied/deleted successfully for Cisco WLC
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 8177dabe-fccd-4bd6-8cd2-da0913242e16
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1990
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: cisco_wlc
      message:
        simple: Unable to ${incident.aclAction} ACL to cisco WLC
      playbook_name:
        simple: Apply ACL to Cisco WLC
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 4487fd7f-226d-4976-8dc8-4c4d988e4aa7
      iscommand: true
      name: Unable to  apply/delete ACL for Cisco WLC
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 4487fd7f-226d-4976-8dc8-4c4d988e4aa7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1990
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: Cisco ISE is disabled
      playbook_name:
        simple: Apply ACL to Cisco WLC
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 992cfc3e-0530-49ad-8e3b-6c7133fc4030
      iscommand: true
      name: Report disable status to PAN IoT
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 992cfc3e-0530-49ad-8e3b-6c7133fc4030
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": -180
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "6"
      "yes":
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.authorizationProfileNames}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 1a2de9c7-5dde-4f0f-80f5-0455653d5826
      iscommand: false
      name: Is authorization profile available?
      script: Exists
      type: condition
      version: -1
    taskid: 1a2de9c7-5dde-4f0f-80f5-0455653d5826
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -540
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "22"
      "yes":
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.authorizationProfileNames}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 6ad85bd3-9385-4d0a-8ee5-b1cb32bc1639
      iscommand: false
      name: Is authorization profile available?
      script: Exists
      type: condition
      version: -1
    taskid: 6ad85bd3-9385-4d0a-8ee5-b1cb32bc1639
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1040
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        simple: ${incident.jobId}
      message:
        simple: Authorization profile update failed. Cisco ISE integration disabled
      status:
        simple: failed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Reports ACLs sync status
      id: 8ee546b0-9175-4d21-8b24-a5f094d8a568
      iscommand: true
      name: Report failed status for job to acl apply
      script: '|||panw-iot-3rd-party-report-aclsync-status'
      type: regular
      version: -1
    taskid: 8ee546b0-9175-4d21-8b24-a5f094d8a568
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1810
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: Authorization profile update failed
      playbook_name:
        simple: Apply ACL to Cisco WLC
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: c4652377-60ff-4497-87c7-5f7d95c38f35
      iscommand: true
      name: Report error status for Cisco ISE to PAN IoT
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: c4652377-60ff-4497-87c7-5f7d95c38f35
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1990
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ise
      message:
        simple: Authorization profile updated successfully
      playbook_name:
        simple: Apply ACL to Cisco WLC
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 9b221e56-1c8a-4194-843f-e266230d9374
      iscommand: true
      name: Report success status to PAN IoT for Cisco ISE
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 9b221e56-1c8a-4194-843f-e266230d9374
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -380,
          "y": 1810
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2965,
        "width": 1640,
        "x": -380,
        "y": -700
      }
    }
  }
