playbook/playbook-Import_MS_Entra_ID_devices_to_PANW_IoT_cloud.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 6.0.6
    packID: ""
    packName: Palo Alto Networks IoT 3rd Party Integrations
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Fetch data from MS Entra ID and send it to PANW IoT Platform
id: cb6dc39a-2314-4d9a-83e9-dfbf36982b67
inputs: []
name: Import MS Entra ID devices to PANW IoT cloud
outputs: []
sourceplaybookid: Import MS Entra ID devices to PANW IoT cloud
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ac98ca19-1b30-4f67-8ac1-562d49430689
      iscommand: false
      name: ""
      version: -1
    taskid: ac98ca19-1b30-4f67-8ac1-562d49430689
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "no":
      - "2"
      "yes":
      - "19"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - MS Entra ID
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: f3f6cd0b-c098-46ee-8cb3-7869ceb3e8ad
      iscommand: false
      name: Is MS Entra integration enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: f3f6cd0b-c098-46ee-8cb3-7869ceb3e8ad
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 410
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_entra_id
      message:
        simple: MS Entra ID integration is not enabled
      playbook_name:
        simple: Import MS Entra ID devices to PANW IoT cloud
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 0df80558-12f8-453b-8e61-8649a59f23ed
      iscommand: true
      name: Send disabled status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 0df80558-12f8-453b-8e61-8649a59f23ed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": 585
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 5412962f-2499-4577-8e77-3a2ae3134832
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 5412962f-2499-4577-8e77-3a2ae3134832
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1842.5,
          "y": 970
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_entra_id
      message:
        simple: Invalid integration instance name provided
      playbook_name:
        simple: Import MS Entra ID devices to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: dfec2982-a900-42d8-8d05-b6a8117512da
      iscommand: true
      name: Send error status back to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: dfec2982-a900-42d8-8d05-b6a8117512da
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 257.5,
          "y": 545
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "no":
      - "21"
      "yes":
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      integration_instance_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_entra_id
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 583f35c3-b70d-4e95-87e3-bb874a12e9ab
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: 583f35c3-b70d-4e95-87e3-bb874a12e9ab
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1510,
          "y": 460
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_entra_id
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Import MS Entra ID devices to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 97bfabbf-76cc-487f-8237-0a1ae5b8010d
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 97bfabbf-76cc-487f-8237-0a1ae5b8010d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1032.5,
          "y": 720
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: ms_entra_id
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Import MS Entra ID devices to PANW IoT cloud
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 57ab18f4-dd34-490a-8313-19018c80a3e0
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 57ab18f4-dd34-490a-8313-19018c80a3e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1462.5,
          "y": 720
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: c9e13bc2-15da-4fad-8a1d-404d567a3689
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: c9e13bc2-15da-4fad-8a1d-404d567a3689
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 960
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 0a409bd3-015a-4b66-8e48-9af31d379c60
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 0a409bd3-015a-4b66-8e48-9af31d379c60
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 540,
          "y": 760
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: ${incident.integrationinstancename}
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 23323b10-2b8f-40f7-8c5d-3964b4e508dd
      iscommand: false
      name: Is MS Entra Integration Instance Available
      script: Exists
      type: condition
      version: -1
    taskid: 23323b10-2b8f-40f7-8c5d-3964b4e508dd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 195
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: ms_entra_id
      message:
        simple: No MS Entra Integration instance passed
      playbook_name:
        simple: Import MS Entra devices to PANW IoT cloud
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 418fcbfc-ecd2-4175-82bb-09d7f085a0f3
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 418fcbfc-ecd2-4175-82bb-09d7f085a0f3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -150,
          "y": 420
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      active_ms_entra_id_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ee6f3b02-e110-471f-8c2f-bc8100c59ad5
      iscommand: false
      name: SendMSEntraIDDevicesToPANWIoT
      script: SendMSEntraIDDevicesToPANWIoT
      type: regular
      version: -1
    taskid: ee6f3b02-e110-471f-8c2f-bc8100c59ad5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1932.5,
          "y": 720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_18_#default#": 0.85,
      "1_2_no": 0.65
    },
    "paper": {
      "dimensions": {
        "height": 1015,
        "width": 2462.5,
        "x": -150,
        "y": 50
      }
    }
  }
