playbook/playbook-Tenable_Report_Handling_-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 1.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 29ca7be6-00ee-439f-8e93-f2301c9b1816
inputs: []
name: Tenable Report Handling - PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: 29ca7be6-00ee-439f-8e93-f2301c9b1816
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1fd4b49f-6711-4c2b-8faa-473364111de4
      iscommand: false
      name: ""
      version: -1
    taskid: 1fd4b49f-6711-4c2b-8faa-473364111de4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "38"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Tenable.io
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: b3ec2869-2538-47fb-8266-62ee27649782
      iscommand: false
      name: Is Tenable Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: b3ec2869-2538-47fb-8266-62ee27649782
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 195
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      integration_name:
        simple: tenable
      message:
        simple: Tenable integration is not enabled
      playbook_name:
        simple: Tenable Report Handling - PANW IoT 3rd Party Integration
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message to PANW IOT cloud.
      id: c2b8179b-a04c-4bbc-870e-c4bc14111dfd
      iscommand: true
      name: Report disabled status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: c2b8179b-a04c-4bbc-870e-c4bc14111dfd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 370
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "37"
      "yes":
      - "17"
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.LaunchReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: de18e9ee-5dc5-45b0-8ce1-91be261a9071
      iscommand: false
      name: Are there any errors in generating the reports?
      script: e8d40b19-df91-4ea3-8dca-33453457e9e0
      type: condition
      version: -1
    taskid: de18e9ee-5dc5-45b0-8ce1-91be261a9071
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2650,
          "y": 720
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.LaunchReportfailStatus}
      playbook_name:
        simple: Tenable Report Handling - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message to PANW IOT cloud.
      id: 07832a5c-0a6b-4d81-877c-b75a1ed74a2d
      iscommand: true
      name: Report Generate Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 07832a5c-0a6b-4d81-877c-b75a1ed74a2d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2650,
          "y": 2120
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: No reports available for uploading
      playbook_name:
        simple: Tenable Report Handling - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message to PANW IOT cloud.
      id: 88274586-49a8-4cf5-8e9c-7c47659d3106
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 88274586-49a8-4cf5-8e9c-7c47659d3106
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2120
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    results:
    - failed_upload_job_ids
    scriptarguments:
      file_data:
        simple: ${File}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
      report_data_map:
        simple: ${Tenable.finishedReports}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ffe17da3-8c12-48f7-87c6-b886729b0701
      iscommand: false
      name: Upload Files to PANW IoT Cloud
      script: UploadFinishedTenableScanReportstoPANWIoTCloud
      type: regular
      version: -1
    taskid: ffe17da3-8c12-48f7-87c6-b886729b0701
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1770
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "22"
      "yes":
      - "21"
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.UploadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 362015a4-fb3d-4cc9-8bf8-15f747962b2e
      iscommand: false
      name: Did the Report Uploads Fail?
      script: e8d40b19-df91-4ea3-8dca-33453457e9e0
      type: condition
      version: -1
    taskid: 362015a4-fb3d-4cc9-8bf8-15f747962b2e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1945
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.UploadReportfailStatus}
      playbook_name:
        simple: Tenable Report Handling - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message to PANW IOT cloud.
      id: 0f168af2-cf3e-4a1a-8640-75b085a9bd20
      iscommand: true
      name: Report Upload Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 0f168af2-cf3e-4a1a-8640-75b085a9bd20
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2120
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: 'Successfully uploaded reports '
      playbook_name:
        simple: Tenable Report Handling - PANW IoT 3rd Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message to PANW IOT cloud.
      id: cc530e4e-686a-4a15-88db-d2ca566ebb95
      iscommand: true
      name: Report Upload Success to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: cc530e4e-686a-4a15-88db-d2ca566ebb95
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 9b7c3be6-8a0a-40b4-87a2-5e74efbac94a
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9b7c3be6-8a0a-40b4-87a2-5e74efbac94a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2415,
          "y": 2295
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61179b25-2d17-4f9e-8300-03310011b080
      iscommand: false
      name: Generate Finished Tenable Scan reports
      script: PANWIoTGenerateReportForTenable
      type: regular
      version: -1
    taskid: 61179b25-2d17-4f9e-8300-03310011b080
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2650,
          "y": 545
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 75ee9e36-6396-4a3e-8c8f-78ffb8d093ca
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 75ee9e36-6396-4a3e-8c8f-78ffb8d093ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 545
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    results:
    - failed_download_job_ids
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 16c95605-712d-4f6a-84c1-f517edefdf5b
      iscommand: false
      name: Download Finished Tenable Scan reports
      script: 3758775d-a78d-4899-8f31-cbb95354faa7
      type: regular
      version: -1
    taskid: 16c95605-712d-4f6a-84c1-f517edefdf5b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1245
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "33"
      "yes":
      - "31"
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.DownloadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 51528272-e83e-49f4-8bf3-009481def991
      iscommand: false
      name: Was there any error in downloading the reports?
      script: e8d40b19-df91-4ea3-8dca-33453457e9e0
      type: condition
      version: -1
    taskid: 51528272-e83e-49f4-8bf3-009481def991
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1420
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.DownloadReportfailStatus}
      playbook_name:
        simple: Tenable Report Handling - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message to PANW IOT cloud.
      id: 5e79b795-98ec-4b76-8fdd-70dda498e4f3
      iscommand: true
      name: Report Download error to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 5e79b795-98ec-4b76-8fdd-70dda498e4f3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 2120
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "120"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 6b38a8c0-bb10-46d8-8481-a04941f7ee58
      iscommand: false
      name: Wait for 2 mins for the reports to finish
      script: Sleep
      type: regular
      version: -1
    taskid: 6b38a8c0-bb10-46d8-8481-a04941f7ee58
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1070
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "18"
      "yes":
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${Tenable.finishedReports}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: a48ed58c-c0b4-427d-8972-851fead528ec
      iscommand: false
      name: Check if there are any available reports to upload
      script: Exists
      type: condition
      version: -1
    taskid: a48ed58c-c0b4-427d-8972-851fead528ec
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1595
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        simple: ${failed_generate_job_ids}
      message:
        simple: ${Tenable.LaunchReportfailStatus}
      scan_type:
        simple: tenable
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: c0226fce-5821-48b2-8c5e-b8deac8bd9ad
      iscommand: true
      name: Report Generate Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: c0226fce-5821-48b2-8c5e-b8deac8bd9ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3080,
          "y": 2120
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        simple: ${failed_download_job_ids}
      message:
        simple: ${Tenable.DownloadReportfailStatus}
      scan_type:
        simple: tenable
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: 6caa7806-f18d-4a23-822b-01ba3d93fb5e
      iscommand: true
      name: Report Download Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: 6caa7806-f18d-4a23-822b-01ba3d93fb5e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 2120
        }
      }
  "36":
    continueonerror: true
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        simple: ${failed_upload_job_ids}
      message:
        simple: ${Tenable.UploadReportfailStatus}
      scan_type:
        simple: tenable
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: 97b77e7f-02c2-4c82-8bc1-f9da9ee46539
      iscommand: true
      name: Report Upload Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: 97b77e7f-02c2-4c82-8bc1-f9da9ee46539
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 2120
        }
      }
  "37":
    continueonerror: true
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "32"
      "yes":
      - "24"
    note: false
    quietmode: 0
    results:
    - AreValuesEqual
    scriptarguments:
      left:
        simple: ${PANWIoTCloud.numGeneratedReports}
      right:
        simple: "0"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      id: 54f7d5fb-5807-437b-82c2-f3a96e8fedd2
      iscommand: false
      name: Is the generated reports list empty?
      script: AreValuesEqual
      type: condition
      version: -1
    taskid: 54f7d5fb-5807-437b-82c2-f3a96e8fedd2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2097.5,
          "y": 895
        }
      }
  "38":
    continueonerror: true
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "39"
      "no":
      - "40"
      "yes":
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - Tenable.io
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8afa090-5420-4e6f-84a1-fc57f0f7c345
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: a8afa090-5420-4e6f-84a1-fc57f0f7c345
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2220,
          "y": 370
        }
      }
  "39":
    continueonerror: true
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: tenable
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Tenable Report Handling - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 3394eae9-dfa7-4ab4-87af-e6270366be7e
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 3394eae9-dfa7-4ab4-87af-e6270366be7e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 545
        }
      }
  "40":
    continueonerror: true
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: tenable
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Tenable Report Handling - PANW IoT 3rd Party Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: 4b0e3daf-9e4a-4836-88a9-ae36e30bdd7d
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: 4b0e3daf-9e4a-4836-88a9-ae36e30bdd7d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2220,
          "y": 545
        }
      }
  "41":
    continueonerror: true
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: ef855e36-3a82-45ea-85de-ee438c0ccb4d
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ef855e36-3a82-45ea-85de-ee438c0ccb4d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2005,
          "y": 720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "20_21_yes": 0.53
    },
    "paper": {
      "dimensions": {
        "height": 2340,
        "width": 3410,
        "x": 50,
        "y": 50
      }
    }
  }
