playbook/playbook-Bulk_Tenable_Get_Scans_and_Report_Handling_V2-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 1.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook  gets  scans initiated within in last 30 days and check
  for finished  scans, generates reports, downloads reports and finally uploads reports
  to PANW IoT Cloud from Tanable.io
id: 48011825-4100-4b6c-816d-63185233895e
inputs: []
name: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: 39ba7f39-a1da-44c0-863f-38ea540f24ea
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 713fbcc7-d3ac-4869-845d-ac51e2eacd82
      iscommand: false
      name: ""
      version: -1
    taskid: 713fbcc7-d3ac-4869-845d-ac51e2eacd82
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      integration_name:
        simple: tenable
      message:
        simple: Tenable integration is not enabled
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: disabled
      using:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: b89923f0-2789-4bcd-8ad9-997ea0c6bb5c
      iscommand: true
      name: Report disabled status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: b89923f0-2789-4bcd-8ad9-997ea0c6bb5c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2295
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: be5b0f08-dd24-4c98-83f6-0846295f2f0a
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: be5b0f08-dd24-4c98-83f6-0846295f2f0a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1882.5,
          "y": 2470
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      active_tenable_io_instance:
        simple: ${incident.integrationinstancename}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
      time:
        simple: ${PANWIoTCloud.DateTimeDelta}
      type:
        simple: BULK
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4aa4d6c-52cc-4dd8-89ca-0d481f945615
      iscommand: false
      name: Launch Tenable reports for finished scans
      script: GetTenableFinishedScansAndGenerateReportforPANWIoTCloudV2
      type: regular
      version: -1
    taskid: f4aa4d6c-52cc-4dd8-89ca-0d481f945615
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 720
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      active_tenable_io_instance:
        simple: ${incident.integrationinstancename}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
      type:
        simple: BULK
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c09590ee-d948-49fd-85c4-5c7973071365
      iscommand: false
      name: Download Finished Tenable Scan reports
      script: DownloadFinishedTenableScanReportsforPANWIoTCloudV2
      type: regular
      version: -1
    taskid: c09590ee-d948-49fd-85c4-5c7973071365
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2005,
          "y": 1420
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "300"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: d261faaa-c04b-458c-8a1a-5b7fb553bebe
      iscommand: false
      name: Wait 5 minutes for the reports to finish
      script: Sleep
      type: regular
      version: -1
    taskid: d261faaa-c04b-458c-8a1a-5b7fb553bebe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2005,
          "y": 1245
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      file_data:
        simple: ${File}
      job_data:
        simple: ${PANWIoTCloud.finishedReports}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 279badd3-ce9f-4368-8722-f56ed03af84f
      iscommand: false
      name: Upload Files to PANW IoT Cloud
      script: UploadFinishedTenableScanReportstoPANWIoTCloudV2
      type: regular
      version: -1
    taskid: 279badd3-ce9f-4368-8722-f56ed03af84f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 1945
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "23"
      "yes":
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PANWIoTCloud.finishedReports}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 64384d9b-fa07-49a1-83b5-4a0ce58d584b
      iscommand: false
      name: Check if there are any available reports to upload
      script: Exists
      type: condition
      version: -1
    taskid: 64384d9b-fa07-49a1-83b5-4a0ce58d584b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2220,
          "y": 1770
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: 'Successfully uploaded reports '
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 0027e28e-4e89-4fff-87e6-83ccfe250bc4
      iscommand: true
      name: Report Upload Success to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 0027e28e-4e89-4fff-87e6-83ccfe250bc4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1247.5,
          "y": 2295
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "11"
      "yes":
      - "13"
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.uploadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 77db1fbd-1c75-46a5-8db5-f7ceaa757a22
      iscommand: false
      name: Did the Report Uploads Fail?
      script: GetPANWIoTTenableErrors
      type: condition
      version: -1
    taskid: 77db1fbd-1c75-46a5-8db5-f7ceaa757a22
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 2120
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.uploadReportfailStatus}
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 9312b8e4-7401-4be3-873b-18edbd20485c
      iscommand: true
      name: Report Upload Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 9312b8e4-7401-4be3-873b-18edbd20485c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 2295
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.uploadReportfailStatus}
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 96a333f0-a7e9-4807-8d65-02999c60ecb1
      iscommand: true
      name: Report Upload Error as Event
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 96a333f0-a7e9-4807-8d65-02999c60ecb1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2220,
          "y": 2295
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "10"
      "yes":
      - "16"
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.DownloadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: f5f66ad1-cf58-4e31-8739-0bebc3180960
      iscommand: false
      name: Did the Report Download Fail?
      script: GetPANWIoTTenableErrors
      type: condition
      version: -1
    taskid: f5f66ad1-cf58-4e31-8739-0bebc3180960
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2005,
          "y": 1595
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${Tenable.DownloadReportfailStatus}
      scan_type:
        simple: tenable
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: 4c257c50-2088-46c9-85b8-9243210c5b61
      iscommand: true
      name: Report Download Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: 4c257c50-2088-46c9-85b8-9243210c5b61
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 1770
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.DownloadReportfailStatus}
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 9e35a612-a90c-47e6-8ea8-d6273d3ad9fc
      iscommand: true
      name: Report Download Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 9e35a612-a90c-47e6-8ea8-d6273d3ad9fc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 1770
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: eae8ef61-3fd2-4078-8b7c-9a900ced2616
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: eae8ef61-3fd2-4078-8b7c-9a900ced2616
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1145,
          "y": 1945
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "30"
      "yes":
      - "20"
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.LaunchReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 07206135-fc46-4d8f-8268-317ed6bc8464
      iscommand: false
      name: Did the Report Launch Fail?
      script: GetPANWIoTTenableErrors
      type: condition
      version: -1
    taskid: 07206135-fc46-4d8f-8268-317ed6bc8464
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 895
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${Tenable.LaunchReportfailStatus}
      scan_type:
        simple: tenable
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: fbf4f46e-b0d7-4d35-8679-df9b79714c54
      iscommand: true
      name: Report Launch Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: fbf4f46e-b0d7-4d35-8679-df9b79714c54
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1070
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.LaunchReportfailStatus}
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 424b5a5a-65e7-4377-85f7-b4bf2ff9b100
      iscommand: true
      name: Report Launch Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 424b5a5a-65e7-4377-85f7-b4bf2ff9b100
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1070
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 62f7c293-7d6c-4e7e-8cdd-b22dcfa865e1
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 62f7c293-7d6c-4e7e-8cdd-b22dcfa865e1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 1245
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: No scans available for reporting
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e986c989-9a54-4204-85f5-36612d3a998b
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e986c989-9a54-4204-85f5-36612d3a998b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2650,
          "y": 2295
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      number:
        simple: "30"
      unit:
        simple: DAYS
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6674a382-9429-49c7-817e-dae8aa43c56b
      iscommand: false
      name: Get Last 30 Days DateTime
      script: GetLastDateTimeTenable
      type: regular
      version: -1
    taskid: 6674a382-9429-49c7-817e-dae8aa43c56b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 545
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 6a3d4235-8563-4c54-83fb-434a68625cef
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 6a3d4235-8563-4c54-83fb-434a68625cef
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 545
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "NO":
      - "27"
      "YES":
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - Tenable.io
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e99d0ed6-0084-4eef-8752-0836b9af3367
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: e99d0ed6-0084-4eef-8752-0836b9af3367
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 370
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e5cc7e6c-3919-4dc2-8673-6a4f2dfaa51c
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e5cc7e6c-3919-4dc2-8673-6a4f2dfaa51c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 545
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: aac14af5-f691-48eb-8e76-8889e2369d5d
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: aac14af5-f691-48eb-8e76-8889e2369d5d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 720
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 9bcae71d-7497-4ca3-8260-878f17e072d8
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9bcae71d-7497-4ca3-8260-878f17e072d8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 1420
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "no":
      - "31"
      "yes":
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      scanResultFromTenable:
        simple: ${PANWIoTCloud.scansPresentOnTenable}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Condition to check whether Tenable returned any Scans.
      id: a95e588e-2a27-44a0-803f-700339762336
      iscommand: false
      name: Check if Tenable returned scans or not?
      script: e2a681bf-ae4f-4da4-8f91-3ec1e5c9c08b
      type: condition
      version: -1
    taskid: a95e588e-2a27-44a0-803f-700339762336
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 1070
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: No scans available for reporting from Tenable
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e11555d4-5500-40c3-8b63-3b22dc28d4b8
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e11555d4-5500-40c3-8b63-3b22dc28d4b8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1145,
          "y": 1245
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "no":
      - "2"
      "yes":
      - "26"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Tenable.io
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: 4219b706-7398-483f-8f8f-16cdf2556588
      iscommand: false
      name: Is Tenable integration available?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: 4219b706-7398-483f-8f8f-16cdf2556588
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 195
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: Attributes missing for either Integration brand name or instance name
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 569a0636-9229-45df-898f-1d83367e70e3
      iscommand: true
      name: Report Error status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 569a0636-9229-45df-898f-1d83367e70e3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3080,
          "y": 2295
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: No scans available for reporting from Tenable.io
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 51d4184c-90a8-4a34-8b9d-e337574d5149
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 51d4184c-90a8-4a34-8b9d-e337574d5149
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 1245
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_17_yes": 0.79
    },
    "paper": {
      "dimensions": {
        "height": 2515,
        "width": 3410,
        "x": 50,
        "y": 50
      }
    }
  }
