playbook/playbook-Incremental_Export_to_SIEM_-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.0.16
    packID: ""
    packName: Palo Alto Networks IoT 3rd Party Integrations
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook gets all available assets ( alerts, vulnerabilities and
  devices) and send then to configured PANW third-party integration SIEM server.
id: 7Incremental Export to SIEM - PANW IoT 3rd Party Integration
inputs: []
name: Incremental Export to SIEM - PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: Bulk Export to SIEM - PANW IoT 3rd Party Integration
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4573b5ca-a9dd-4266-850a-90feef90fe28
      iscommand: false
      name: ""
      version: -1
    taskid: 4573b5ca-a9dd-4266-850a-90feef90fe28
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 800,
          "y": -150
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: siem
      message:
        simple: Syslog Sender (SIEM) instance is not enabled
      playbook_name:
        simple: Incremental Export to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e9e96a43-3e6f-4728-8659-7a57b91d565e
      iscommand: true
      name: Send disabled status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e9e96a43-3e6f-4728-8659-7a57b91d565e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 890
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      execution-timeout:
        simple: "864000"
      poll_interval:
        simple: ${incident.playbookpollinterval}
      sites:
        simple: ${incident.sitenames}
      syslog_sender_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This automation retrieves all specified assets from the PANW IoT
        cloud and send them to the SIEM server.
      id: 34240ab3-05ff-41fc-87f4-17875275298b
      iscommand: false
      name: Send PANW IoT devices to SIEM
      script: SendPANWIoTAssetsToSIEM
      type: regular
      version: -1
    taskid: 34240ab3-05ff-41fc-87f4-17875275298b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -200,
          "y": 895
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: alert
      execution-timeout:
        simple: "864000"
      poll_interval:
        simple: ${incident.playbookpollinterval}
      sites:
        simple: ${incident.sitenames}
      syslog_sender_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This automation retrieves all specified assets from the PANW IoT
        cloud and send them to the SIEM server.
      id: 77e1062e-dc7b-42aa-8a68-bdb5b2ab0548
      iscommand: false
      name: Send PANW IoT alerts to SIEM
      script: SendPANWIoTAssetsToSIEM
      type: regular
      version: -1
    taskid: 77e1062e-dc7b-42aa-8a68-bdb5b2ab0548
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 895
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      execution-timeout:
        simple: "864000"
      poll_interval:
        simple: ${incident.playbookpollinterval}
      sites:
        simple: ${incident.sitenames}
      syslog_sender_instance:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This automation retrieves all specified assets from the PANW IoT
        cloud and send them to the SIEM server.
      id: 4ade21b2-1096-4153-813e-9d21ac4d1153
      iscommand: false
      name: Send PANW IoT vulnerabilities to SIEM
      script: SendPANWIoTAssetsToSIEM
      type: regular
      version: -1
    taskid: 4ade21b2-1096-4153-813e-9d21ac4d1153
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 630,
          "y": 895
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 57642081-56d3-4e3b-8880-71113b7b8e82
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 57642081-56d3-4e3b-8880-71113b7b8e82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 1140
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "no":
      - "9"
      "yes":
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - Syslog Sender
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d39dd06b-c8dd-49bb-8a6c-1b48fa4f278c
      iscommand: false
      name: is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: d39dd06b-c8dd-49bb-8a6c-1b48fa4f278c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 310
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: siem
      message:
        simple: Failed to get License
      playbook_name:
        simple: Incremental Export to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 0d0fe020-566a-45b4-81c9-69f9c80e51d1
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 0d0fe020-566a-45b4-81c9-69f9c80e51d1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 895
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: siem
      message:
        simple: License Limit Exceeded
      playbook_name:
        simple: Incremental Export to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: a735abd2-4416-48f5-8378-d779d2886cf5
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: a735abd2-4416-48f5-8378-d779d2886cf5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 890
        }
      }
  "10":
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: ${incident.integrationinstancename}
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "11"
      "yes":
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: ea383570-8bd8-483a-860a-475a1f9a5a5b
      iscommand: false
      name: Is Syslog(SIEM) Integration Instance Available
      script: Exists
      type: condition
      version: -1
    taskid: ea383570-8bd8-483a-860a-475a1f9a5a5b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 800,
          "y": -40
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: device
      integration_name:
        simple: PANW IoT 3rd Party Integration - Syslog Sender
      message:
        simple: No Syslog  Integration instance passed
      playbook_name:
        simple: Incremental Export to SIEM - PANW IoT 3rd Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT 3rd Party
      description: Sends a status message back to PANW IOT cloud.
      id: a81e500b-8092-44d5-80ba-c97d71169e05
      iscommand: true
      name: No Instance passed to this Playbook. Reporting Error
      script: Palo Alto Networks IoT 3rd Party|||panw-iot-3rd-party-report-status-to-panw
      type: regular
      version: -1
    taskid: a81e500b-8092-44d5-80ba-c97d71169e05
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 155
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: f741a23b-dee4-476e-8f07-38786fb055ef
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f741a23b-dee4-476e-8f07-38786fb055ef
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 295
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "7"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Syslog Sender
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: 9d9275be-b217-4f56-8593-797560dc0b2b
      iscommand: false
      name: Is Syslog (SIEM)  Integration Enabled?
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: 9d9275be-b217-4f56-8593-797560dc0b2b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 140
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "15"
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      instance_name:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 72a3182a-ec17-40a2-86c6-a75b5d635688
      iscommand: false
      name: Retrieve Configured SIEM Asset Types
      script: CheckConfiguredSIEMAssetTypes
      type: regular
      version: -1
    taskid: 72a3182a-ec17-40a2-86c6-a75b5d635688
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 430
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: asset.device
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: DEVICE
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      DEVICE:
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2ab8a371-7c27-40c9-88e4-62a4b02db2e5
      iscommand: false
      name: Device Type Selected?
      type: condition
      version: -1
    taskid: 2ab8a371-7c27-40c9-88e4-62a4b02db2e5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -200,
          "y": 670
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: asset.vulnerability
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: VULNERABILITY
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      VULNERABILITY:
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6969264f-8ad0-446c-897e-aeeb865e0d91
      iscommand: false
      name: Vulnerability Type Selected?
      type: condition
      version: -1
    taskid: 6969264f-8ad0-446c-897e-aeeb865e0d91
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 630,
          "y": 660
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: asset.alert
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: ALERT
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      ALERT:
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 709b150d-906d-4c09-853e-f83c34b03d34
      iscommand: false
      name: Alert Type Selected?
      type: condition
      version: -1
    taskid: 709b150d-906d-4c09-853e-f83c34b03d34
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 220,
          "y": 660
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1385,
        "width": 2460,
        "x": -200,
        "y": -150
      }
    }
  }
