playbook/playbook-Incremental_Tenable_Get_Scans_and_Report_Handling_V2-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 1.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook  gets  scans initiated within in last 1 hour and check
  for finished  scans, generates reports, downloads reports and finally uploads reports
  to PANW IoT Cloud from Tanable.io
id: d6209532-a463-4b5d-8d7d-d58a62db329d
inputs: []
name: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: 39ba7f39-a1da-44c0-863f-38ea540f24ea
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a20effbd-4e9c-4a4e-87c3-7a8769b8f38b
      iscommand: false
      name: ""
      version: -1
    taskid: a20effbd-4e9c-4a4e-87c3-7a8769b8f38b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: Tenable integration is not enabled
      playbook_name:
        simple: Bulk Tenable Get Scans and Report Handling V2- PANW IoT 3rd Party
          Integration
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: e110ccc9-f80c-4937-81fa-871cd7c0552d
      iscommand: true
      name: Report disabled status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: e110ccc9-f80c-4937-81fa-871cd7c0552d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2295
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 9ee95b97-cc00-4d3c-8ef6-9dfcb2b60ce5
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9ee95b97-cc00-4d3c-8ef6-9dfcb2b60ce5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 2470
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      active_tenable_io_instance:
        simple: ${incident.integrationinstancename}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
      time:
        simple: ${PANWIoTCloud.DateTimeDelta}
      type:
        simple: INCREMENTAL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cc889ce6-1967-4814-8cb2-e38d3101f97e
      iscommand: false
      name: Launch Tenable reports for finished scans
      script: GetTenableFinishedScansAndGenerateReportforPANWIoTCloudV2
      type: regular
      version: -1
    taskid: cc889ce6-1967-4814-8cb2-e38d3101f97e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 720
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      active_tenable_io_instance:
        simple: ${incident.integrationinstancename}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
      type:
        simple: INCREMENTAL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aec573b9-dcec-433c-87bb-e2f0efe9cd68
      iscommand: false
      name: Download Finished Tenable Scan reports
      script: DownloadFinishedTenableScanReportsforPANWIoTCloudV2
      type: regular
      version: -1
    taskid: aec573b9-dcec-433c-87bb-e2f0efe9cd68
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1882.5,
          "y": 1420
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "160"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 98d7215f-9174-409e-86ff-c789282ff198
      iscommand: false
      name: Wait 2 minutes for the reports to finish
      script: Sleep
      type: regular
      version: -1
    taskid: 98d7215f-9174-409e-86ff-c789282ff198
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1882.5,
          "y": 1245
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      file_data:
        simple: ${File}
      job_data:
        simple: ${PANWIoTCloud.finishedReports}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 84a6fdb8-cc37-4a1d-8598-dae11bb2327c
      iscommand: false
      name: Upload Files to PANW IoT Cloud
      script: UploadFinishedTenableScanReportstoPANWIoTCloudV2
      type: regular
      version: -1
    taskid: 84a6fdb8-cc37-4a1d-8598-dae11bb2327c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1882.5,
          "y": 1945
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "23"
      "yes":
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PANWIoTCloud.finishedReports}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: f246927e-71c1-4727-8bc2-243f88b6295f
      iscommand: false
      name: Check if there are any available reports to upload
      script: Exists
      type: condition
      version: -1
    taskid: f246927e-71c1-4727-8bc2-243f88b6295f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2097.5,
          "y": 1770
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: 'Successfully uploaded reports '
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 63457963-7be2-49ee-89a1-0ff570072ce4
      iscommand: true
      name: Report Upload Success to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 63457963-7be2-49ee-89a1-0ff570072ce4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2295
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "11"
      "yes":
      - "13"
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.uploadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: f749c30a-901c-4e1a-850f-64dbdd1288ee
      iscommand: false
      name: Did the Report Uploads Fail?
      script: GetPANWIoTTenableErrors
      type: condition
      version: -1
    taskid: f749c30a-901c-4e1a-850f-64dbdd1288ee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1882.5,
          "y": 2120
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.uploadReportfailStatus}
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: ad444817-d456-4b55-84d9-1f5b7ae7c4f8
      iscommand: true
      name: Report Upload Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: ad444817-d456-4b55-84d9-1f5b7ae7c4f8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 2295
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.uploadReportfailStatus}
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 80eccae1-347c-4c48-882d-b745acd4cea8
      iscommand: true
      name: Report Upload Error as Event
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 80eccae1-347c-4c48-882d-b745acd4cea8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2097.5,
          "y": 2295
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "10"
      "yes":
      - "16"
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.DownloadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 7ec13a20-42b6-4250-8a73-d13b775e0ce7
      iscommand: false
      name: Did the Report Download Fail?
      script: GetPANWIoTTenableErrors
      type: condition
      version: -1
    taskid: 7ec13a20-42b6-4250-8a73-d13b775e0ce7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1882.5,
          "y": 1595
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${Tenable.DownloadReportfailStatus}
      scan_type:
        simple: tenable
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: dea98a62-b19d-4d3e-807d-4e7fa8775194
      iscommand: true
      name: Report Download Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: dea98a62-b19d-4d3e-807d-4e7fa8775194
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1770
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.DownloadReportfailStatus}
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: f218241d-fad5-4cd2-8a20-442814b65fb4
      iscommand: true
      name: Report Download Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: f218241d-fad5-4cd2-8a20-442814b65fb4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1770
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 43febc4d-d0cf-44b0-8933-d9c26a2c069b
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 43febc4d-d0cf-44b0-8933-d9c26a2c069b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 1945
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "30"
      "yes":
      - "20"
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Tenable.LaunchReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 0e429223-923d-4da4-85ca-bad3507d8157
      iscommand: false
      name: Did the Report Launch Fail?
      script: GetPANWIoTTenableErrors
      type: condition
      version: -1
    taskid: 0e429223-923d-4da4-85ca-bad3507d8157
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 895
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${Tenable.LaunchReportfailStatus}
      scan_type:
        simple: tenable
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: 310142c6-b843-45fb-8530-e3e4d845c816
      iscommand: true
      name: Report Launch Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: 310142c6-b843-45fb-8530-e3e4d845c816
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1070
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: ${Tenable.LaunchReportfailStatus}
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 34465da1-7497-4b65-83bc-014a76252b14
      iscommand: true
      name: Report Launch Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 34465da1-7497-4b65-83bc-014a76252b14
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1070
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 5254e04f-02e7-40dc-8dec-fce93efc488a
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 5254e04f-02e7-40dc-8dec-fce93efc488a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 585,
          "y": 1245
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: No scans available for reporting
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 783070c5-2dd4-4d85-8d1d-9976b3959341
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 783070c5-2dd4-4d85-8d1d-9976b3959341
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2527.5,
          "y": 2295
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      number:
        simple: "1"
      unit:
        simple: HOURS
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 91f02064-5579-4e84-8700-9dfcfb0d304f
      iscommand: false
      name: Get Last 1 hour Timestamp
      script: GetLastDateTimeTenable
      type: regular
      version: -1
    taskid: 91f02064-5579-4e84-8700-9dfcfb0d304f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 545
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "NO":
      - "27"
      "YES":
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - Tenable.io
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cab276cd-8d20-400b-8717-12e64063be14
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: cab276cd-8d20-400b-8717-12e64063be14
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 370
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 8df0f7cd-caf0-42a8-8597-821e3783a873
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 8df0f7cd-caf0-42a8-8597-821e3783a873
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 545
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 1db5a851-5e13-40a1-8a25-2095dc60cd3b
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 1db5a851-5e13-40a1-8a25-2095dc60cd3b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 545
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: ccd821df-3395-4608-8598-d42d3cc6cc4f
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ccd821df-3395-4608-8598-d42d3cc6cc4f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 720
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "no":
      - "32"
      "yes":
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      scanResultFromTenable:
        simple: ${PANWIoTCloud.scansPresentOnTenable}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Condition to check whether Tenable returned any Scans.
      id: 1c73fdba-1209-403e-8171-22d1cc866b07
      iscommand: false
      name: Check if Tenable returned scans or not?
      script: e2a681bf-ae4f-4da4-8f91-3ec1e5c9c08b
      type: condition
      version: -1
    taskid: 1c73fdba-1209-403e-8171-22d1cc866b07
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 1070
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: ffd49e1f-85ac-4538-84dd-e7c0e9bfcd28
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ffd49e1f-85ac-4538-84dd-e7c0e9bfcd28
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1420
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: No scans available for reporting from Tenable
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 482e35b3-ca92-44e2-8820-9bb096b21f63
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 482e35b3-ca92-44e2-8820-9bb096b21f63
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 1245
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: Attributes missing for either Integration brand name or instance name
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: bbe8e1ac-fdb0-491b-8351-58a4364afd6d
      iscommand: true
      name: Report Error status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: bbe8e1ac-fdb0-491b-8351-58a4364afd6d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2957.5,
          "y": 2295
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "no":
      - "2"
      "yes":
      - "25"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Tenable.io
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: a9defd99-27c4-4a3a-8b43-590c75fe87a9
      iscommand: false
      name: isIntegrationInstanceAvailable
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: a9defd99-27c4-4a3a-8b43-590c75fe87a9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 325,
          "y": 170
        }
      }
  "36":
    continueonerror: true
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: tenable
      message:
        simple: No scans available for reporting from Tenable.io
      playbook_name:
        simple: Incremental Tenable Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 18eaad99-ed89-4e54-8fe6-8cd18811aa72
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 18eaad99-ed89-4e54-8fe6-8cd18811aa72
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 1245
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_17_yes": 0.79
    },
    "paper": {
      "dimensions": {
        "height": 2515,
        "width": 3287.5,
        "x": 50,
        "y": 50
      }
    }
  }
