playbook/playbook-Incremental_Rapid7_Get_Scans_and_Report_Handling_V2-_PANW_IoT_3rd_Party_Integration.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: 1.0.0
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 8a8cf449-d25e-42ff-82d9-fab17d813583
inputs: []
name: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd Party Integration
outputs: []
sourceplaybookid: 66d4a7a8-e7cd-4593-877c-d2f23f71a33a
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 673f68c1-d96d-4f06-89a8-39fcb23c38f9
      iscommand: false
      name: ""
      version: -1
    taskid: 673f68c1-d96d-4f06-89a8-39fcb23c38f9
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "21"
      "yes":
      - "27"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PANW IoT 3rd Party Integration - Rapid7 Nexpose
      instancename:
        simple: ${incident.integrationinstancename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available and provided instance
        is Active. Otherwise returns 'no'.
      id: a4b5af6f-7dab-4b74-8cc7-a3a040a19699
      iscommand: false
      name: IsIntegrationAvailable
      script: 366ccb9c-4c22-4ebb-8a47-18faef8f67ec
      type: condition
      version: -1
    taskid: a4b5af6f-7dab-4b74-8cc7-a3a040a19699
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 195
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      days:
        simple: "50"
      number:
        simple: "1"
      unit:
        simple: HOURS
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: efc84b55-20bf-43e7-873c-1399de07de2c
      iscommand: false
      name: Get Last 1 hour DateTime
      script: GetLastDateTime
      type: regular
      version: -1
    taskid: efc84b55-20bf-43e7-873c-1399de07de2c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 545
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      active_rapid7_instance:
        simple: ${incident.integrationinstancename}
      time:
        simple: ${PANWIoTCloud.DateTimeDelta}
      type:
        simple: INCREMENTAL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 433548a2-78bc-4a03-8b3b-2e9fd79a55d0
      iscommand: false
      name: Launch Rapid7 reports for finished scans
      script: GetRapid7FinishedScansAndGenerateReportV2
      type: regular
      version: -1
    taskid: 433548a2-78bc-4a03-8b3b-2e9fd79a55d0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 720
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "31"
      "yes":
      - "6"
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Rapid7.LaunchReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: 5ae959a1-8a1f-44bd-856a-d00bb13d759e
      iscommand: false
      name: Did the Report Launch Fail?
      script: ea2fa025-47c1-420b-895b-d5b62cfab9b3
      type: condition
      version: -1
    taskid: 5ae959a1-8a1f-44bd-856a-d00bb13d759e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 895
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${Rapid7.LaunchReportfailStatus}
      scan_type:
        simple: rapid7
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: 58206be1-b316-44e9-8d50-02349265c807
      iscommand: true
      name: Report Launch Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: 58206be1-b316-44e9-8d50-02349265c807
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 1245
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: ${Rapid7.LaunchReportfailStatus
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 036d1188-b3a3-4ec2-8f31-2f726d1cb331
      iscommand: true
      name: Report Launch Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 036d1188-b3a3-4ec2-8f31-2f726d1cb331
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1257.5,
          "y": 1245
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "180"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: f1b808fe-65fc-40d8-88b3-c3bd36ccd7f1
      iscommand: false
      name: Wait 2 minute for the reports to finish
      script: Sleep
      type: regular
      version: -1
    taskid: f1b808fe-65fc-40d8-88b3-c3bd36ccd7f1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1245
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      active_rapid7_instance:
        simple: ${incident.integrationinstancename}
      type:
        simple: INCREMENTAL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f5e42b34-6d4f-4b52-8153-a0b8f2badbb4
      iscommand: false
      name: Preparing Download Finished Rapid7 Scan reports
      script: DownloadFinishedRapid7ScanReportsForPANWIoTCloudV2
      type: regular
      version: -1
    taskid: f5e42b34-6d4f-4b52-8153-a0b8f2badbb4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1430
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "11"
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Rapid7.DownloadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: e0c6046d-e8a0-4506-8417-59b6f595f4e9
      iscommand: false
      name: Did the Report Download Fail?
      script: ea2fa025-47c1-420b-895b-d5b62cfab9b3
      type: condition
      version: -1
    taskid: e0c6046d-e8a0-4506-8417-59b6f595f4e9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1595
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: ${Rapid7.DownloadReportfailStatus}
      scan_type:
        simple: rapid7
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Upload reports (PDF + XML) for specified scan to IoT Cloud
      id: ed37b5c4-2d92-473f-8061-93935b0c033f
      iscommand: true
      name: Report Download Error as Event
      script: '|||panw-iot-3rd-party-upload-vulnerability-scan-report'
      type: regular
      version: -1
    taskid: ed37b5c4-2d92-473f-8061-93935b0c033f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1945
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: ${Rapid7.DownloadReportfailStatus}
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 78797510-5edc-4492-8238-93253acc13de
      iscommand: true
      name: Report Download Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 78797510-5edc-4492-8238-93253acc13de
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "20"
      "yes":
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PANWIoTCloud.finishedReports}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 1d02fe3b-1a2c-4b3c-82f5-55878473f490
      iscommand: false
      name: Check if there are any available reports to upload
      script: Exists
      type: condition
      version: -1
    taskid: 1d02fe3b-1a2c-4b3c-82f5-55878473f490
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 2295
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      file_data:
        simple: ${InfoFile}
      job_data:
        simple: ${PANWIoTCloud.finishedReports}
      panw_iot_3rd_party_instance:
        simple: PANW IoT 3rd Party Integration Instance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7796024a-522c-42d0-87e4-825c5b88440d
      iscommand: false
      name: Upload Files to PANW IoT Cloud
      script: UploadFinishedRapid7ScanReportstoPANWIoTCloudV2
      type: regular
      version: -1
    taskid: 7796024a-522c-42d0-87e4-825c5b88440d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 715,
          "y": 2470
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "17"
      "yes":
      - "18"
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      path:
        simple: Rapid7.uploadReportfailStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for errors in a given task. If found, write it to the path
        provided as an argument.
      id: e26e53fb-dda4-4e41-8f13-0c9cc8c462bc
      iscommand: false
      name: Did the Report Uploads Fail?
      script: ea2fa025-47c1-420b-895b-d5b62cfab9b3
      type: condition
      version: -1
    taskid: e26e53fb-dda4-4e41-8f13-0c9cc8c462bc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 715,
          "y": 2645
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 3b597fbe-d813-4a53-82a6-4854dcc36caa
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 3b597fbe-d813-4a53-82a6-4854dcc36caa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2120
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: 'Successfully uploaded reports '
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 88d8efa7-c46c-4c2c-8f8a-a6d162aba06a
      iscommand: true
      name: Report Upload Success to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 88d8efa7-c46c-4c2c-8f8a-a6d162aba06a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 295,
          "y": 2820
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: ${Rapid7.uploadReportfailStatus}
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 3c89e2aa-1ad6-45cb-8d81-923fd5f8381a
      iscommand: true
      name: Report Upload Errors to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 3c89e2aa-1ad6-45cb-8d81-923fd5f8381a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 725,
          "y": 2820
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: ${Rapid7.uploadReportfailStatus}
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 28588335-9de9-4be8-8dcc-6e4c0ba43d15
      iscommand: true
      name: Report Upload Error as Event
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 28588335-9de9-4be8-8dcc-6e4c0ba43d15
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1155,
          "y": 2820
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: No scans available for reporting
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: a5c7a712-3576-48cd-81e9-6bd1f13f845e
      iscommand: true
      name: Report status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: a5c7a712-3576-48cd-81e9-6bd1f13f845e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1585,
          "y": 2820
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: Rapid7 integration is not enabled
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: disabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 9e2b7501-eb66-47c4-8f95-f05ea3ee8bae
      iscommand: true
      name: Report disabled status to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 9e2b7501-eb66-47c4-8f95-f05ea3ee8bae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2015,
          "y": 2820
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: d9dfb691-7bc6-43f3-8284-a033de5a7ffc
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: d9dfb691-7bc6-43f3-8284-a033de5a7ffc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 2995
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: adcefbf1-c0b3-4ff5-8144-76fc69654608
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: adcefbf1-c0b3-4ff5-8144-76fc69654608
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1145,
          "y": 1420
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      reportInfo:
        simple: ${Nexpose.reportInfoList}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 62653bf8-718b-4605-8c62-4f5e0e667e15
      iscommand: true
      name: Download Reports
      script: '|||nexpose-get-file-reports'
      type: regular
      version: -1
    taskid: 62653bf8-718b-4605-8c62-4f5e0e667e15
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1945
        }
      }
  "25":
    continueonerror: true
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "12"
      "yes":
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${Nexpose.reportInfoList}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 7c2a2208-2b11-49c7-8c2c-794b999c2f1f
      iscommand: false
      name: Check if there are any available reports infos
      script: Exists
      type: condition
      version: -1
    taskid: 7c2a2208-2b11-49c7-8c2c-794b999c2f1f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 1770
        }
      }
  "26":
    continueonerror: true
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      active_rapid7_instance:
        simple: ${incident.integrationinstancename}
      reportInfo:
        simple: ${Nexpose.reportInfoList}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3fe1f28a-45bd-4255-8e25-a062a4a3bc4b
      iscommand: false
      name: Delete Reports
      script: DeleteFinishedRapid7ScanReportsV2
      type: regular
      version: -1
    taskid: 3fe1f28a-45bd-4255-8e25-a062a4a3bc4b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 2120
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "NO":
      - "29"
      "YES":
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      integration_name:
        simple: PANW IoT 3rd Party Integration - Rapid7 Nexpose
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eaf013b6-571b-43b8-80e8-0feecb8528f5
      iscommand: false
      name: Is License Available?
      script: CheckPANWIoTIntegrationLicense
      type: condition
      version: -1
    taskid: eaf013b6-571b-43b8-80e8-0feecb8528f5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1545,
          "y": 370
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      integration_name:
        simple: rapid7
      message:
        simple: 'Error: Failed to get License'
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: error
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: cb59f619-9de5-499c-8956-2c9f61bcd7c1
      iscommand: true
      name: Failed to get License. Report Error to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: cb59f619-9de5-499c-8956-2c9f61bcd7c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 545
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      integration_name:
        simple: rapid7
      message:
        simple: License Limit Exceeded.
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: license_limit_exceeded
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 6b61fccc-1346-40bc-81a7-14732136eff2
      iscommand: true
      name: License Limited Exceed. Report status to PANW IoT Cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 6b61fccc-1346-40bc-81a7-14732136eff2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 545
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 46c091c7-2b7e-4d6e-84d5-cef4580005e2
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 46c091c7-2b7e-4d6e-84d5-cef4580005e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1585,
          "y": 720
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "no":
      - "32"
      "yes":
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PANWIoTCloud.scansPresentOnRapid7}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: 5ad93530-d8ca-4c4c-848f-802330eee506
      iscommand: false
      name: Scans present to download?
      script: Exists
      type: condition
      version: -1
    taskid: 5ad93530-d8ca-4c4c-848f-802330eee506
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 345,
          "y": 1030
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      asset_type:
        simple: vulnerability
      custom_integration_name:
        simple: ${incident.integrationinstancename}
      integration_name:
        simple: rapid7
      message:
        simple: No scans present on Rapid7
      playbook_name:
        simple: Incremental Rapid7 Get Scans and Report Handling V2- PANW IoT 3rd
          Party Integration
      status:
        simple: success
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a status message back to PANW IOT cloud.
      id: 4747fec2-e584-45af-8b9c-73a380828329
      iscommand: true
      name: Report Scans not present to PANW IoT cloud
      script: '|||panw-iot-3rd-party-report-status-to-panw'
      type: regular
      version: -1
    taskid: 4747fec2-e584-45af-8b9c-73a380828329
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 1245
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "25_12_no": 0.18
    },
    "paper": {
      "dimensions": {
        "height": 3040,
        "width": 2345,
        "x": 50,
        "y": 50
      }
    }
  }
